<div id="deactivate_cnfrm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
	<div id="crossimg"> <a href="#" data-dismiss="modal" aria-hidden="true">X</a></div>
	<div align="center" id="trd_end_head">
		Careful! Are you sure you want to <br /> deactivate your account? 
	</div>
	<div align="center" id="yes_no_btn">
		<a href="#" onclick="document.location='<%= deactivate_account_url %>'; return false;">
			<img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/deactivate.png" onmouseover="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/deactivate_roll.png';" onmouseout="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/deactivate.png';"  />
		</a>
	</div>
	<div align="center" class="note_offer">
		(Note: This will remove your offer from a TradeYa page.<br />
		It will not remove comments associated with it.)
	</div>
</div>
