<div id="delete_trd" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
	<div id="crossimg"> <a href="#"  data-dismiss="modal" aria-hidden="true">X</a></div>
	<div align="center" id="trd_end_head">
		Whoa! Are you sure you want to <br /> delete your TradeYa? 
	</div>
	<div align="center" id="yes_no_btn">
		<a href="#" onclick="return deleteTradeya();">
			<img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/delete_tradeya.png" onmouseover="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/delete_tradeya_roll.png';" onmouseout="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/delete_tradeya.png';"  />
		</a>
	</div>
	<div align="center" class="note_offer">
		(Note: This will remove all information -<br />
		comments, offers, descriptions - on your TradeYa permanently.)
	</div>
</div>
