<div id="delete_comment" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
	<div id="crossimg"> <a href="#" data-dismiss="modal" aria-hidden="true">X</a></div>
	<div align="center" id="trd_end_head">
		Whoa! Are you sure you want to <br /> delete your comment? 
	</div>
	<div align="center" id="yes_no_btn">
		<a href="#" onclick="return deleteComment();">
			<img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/delete_comment.png" onmouseover="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/delete_comment_roll.png';" onmouseout="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/delete_comment.png';"  />
		</a>
	</div>
</div>
