<div id="guest_signup_confirm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
	<div id="crossimg"> <a href="#" data-dismiss="modal" aria-hidden="true">X</a></div>
	<div align="center" style="margin-top:-5px;"><img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/confirm_icon.png" /></div>
	<div align="center" id="submit_tr_head" style="margin-top: 10px;">
		Thank you for joining the TradeYa movement!
	</div>
	<div align="center" id="ok_btn">
		<a id = "guestsignUpConfOK" href="#" onclick="return signUpConfModalOk();">
			<img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/ok.png" onmouseover="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/ok_roll.png';" onmouseout="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/ok.png';"  />
		</a>
	</div>
</div>