<div id="have_message_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
	<a href="#" class="close" data-dismiss="modal" aria-hidden="true"><img src="http://d3md9h2ro575fr.cloudfront.net/images/white_cross.png"></a>
	<div id="hv_msg">
		<div class="have_message_div_inner">
			<div class="have_message_div_heading">That was easy</div>
	    	<div class="message_content">
	      		<p>You’ve added an item to your Haves board. </p>
	      		<p class="more_item_text">More Items = More Trade Offers.</p>
	      		<p>Do you have anything else to trade? </p>
	      		<div class="add_item_submit_btn"><a href="/items/new">Add item</a></div> 
	    	</div>
		</div>
	</div>
</div>