<div id="how_this_works" class="how_this_works_content">
	<div id="crossimg" style="margin-right: -17px;"> <a href="#" onclick="return hideModal('how_this_works', false);">X</a></div>
	<div class="learn_more">Learn More</div>
	<div class="how_it_works_today">This is how TradeYa works today...</div>
	<iframe id="video_watch" name="video_watch" src="http://player.vimeo.com/video/45487049?privacy=none&amp;byline=0&amp;color=e02828&amp;autoplay=0" width="660" height="370" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" style="border:1px solid #999;"></iframe>
	<div class="how_this_works_text">Have a question? eMail us at <a href="mailto:support@tradeya.com">support@tradeya.com</a></div>
	<hr/>
	<div class="how_this_works_text">Want to see what the future of TradeYa looks like? Watch the video below.</div>
	<iframe width="660" height="370" src="http://www.youtube.com/embed/ENBGDRHAJN4" frameborder="0" allowfullscreen></iframe>
</div>
