<div class="modal hide fade in" style="margin-left:-230px;left:50%;display: block;position: absolute;top: 20px; width: 416px;height: 226px;padding: 16px;background-color: white;overflow: auto;">
	<div align="center" id="submit_tr_head" style="margin-top: 60px;">
		Javascript is disabled on your browser. Please enable JavaScript or upgrade to a Javascript-capable browser to use TradeYa.
	</div>
	<div align="center" id="ok_btn" style="margin-top: 17px;"><a href="<%= request.fullpath %>"><img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/ok.png" onmouseover="this.src='https://s3.amazonaws.com/tradeya_prod/tradeya/images/ok_roll.png';" onmouseout="this.src='https://s3.amazonaws.com/tradeya_prod/tradeya/images/ok.png';"/></a></div>
</div>
<div style="position: fixed;top: 0%;left: 0%;width: 100%;height: 100%;background-color: #666;z-index:1001;-moz-opacity: 0.9;opacity:.90;filter: alpha(opacity=90);"></div>
