<div id="like_message_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
	<a href="#" class="close" data-dismiss="modal" aria-hidden="true"><img src="http://d3md9h2ro575fr.cloudfront.net/images/white_cross.png"></a>
	<div >
	  <div class="want_message_div_inner">
	    <div class="like_message_div_heading">You've added this to your Likes Board!</div>
	    <div class="message_content">
	      <p><span><a href="<%=likes_user_path(current_user)%>">Click here </a></span>to review your Likes Board. </p>
	      <p><span><a href="/items/new">Click here </a></span>to add more to your Haves Board.</p>
	    </div>
	  </div>
	</div>
</div>