<div id="crossimg"> <a href="#" data-dismiss="modal" aria-hidden="true">X</a></div>
<div align="center" id="submit_tr_head">
	Your password has been changed successfully.
</div>
<div align="center" id="ok_btn"><a href="#"  data-dismiss="modal" aria-hidden="true" onclick="location.reload();return false;"><img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/ok.png" onmouseover="this.src='https://s3.amazonaws.com/tradeya_prod/tradeya/images/ok_roll.png';" onmouseout="this.src='https://s3.amazonaws.com/tradeya_prod/tradeya/images/ok.png';"  /></a></div>
