<div id="post_trd" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
	<div id="crossimg"> <a href="#" data-dismiss="modal" aria-hidden="true">X</a></div>
	<div align="center" id="trd_end_head">
		Whoa! Are you sure you want to <br /> postpone your TradeYa? 
	</div>
	<div align="center" id="yes_no_btn">
		<a href="#" onclick="postponeTradeya(); return false;">
			<img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/post_trd.png" onmouseover="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/post_trd_roll.png';" onmouseout="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/post_trd.png';"  />
		</a>
	</div>
	<div align="center" class="note_offer" style="margin-top: 30px;">
		(Note: All users who have submitted offers will be notified by email)
	</div>
</div>
