<div id="quiz_box" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" data-backdrop="static">
	<div id="images_div">
		<div id="quiz_heading">Find your perfect trade! Choose below ...</div>
		<div class="image_detail_title">
			<div class="image_inner_title">
				<div id="image_title" class="title_head">Louis Vuitton shoulder bag [LIKE NEW]</div>
				<div id="image_desc" class="title_head_good">Classic Louis Vuitton shoulder bag. I've barely used it and it's in near perfect condition.</div>
				<div class="title_head_user"></div>
			</div>
		</div>
		<table class="quiz_table">
			<tr>
				<td style=" width: 100px; text-align: left;">
				</td>
				<td width="275px" style="vertical-align: top;">
					<div class="image_detail_div" id="image_div_1">
						<div align="center" class="image_show">
							<img id="quiz_itm_img" src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/image1.jpg" style="max-width: 280px; height: 210px;"/>
						</div>
					</div>
				</td>
				<td style="width: 50px;text-align: right;">
		          <img id="quiz_skip_img" onclick="return moveNextQuiz(4);" src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz/arrow_right_quiz.png" style="cursor: pointer;" />
				</td>
				<td style="width: 50px;text-align: left;">
		          <a href="#" class="skip_link" id="quiz_skip_img" onclick="return moveNextQuiz(4);" style="cursor: pointer;">Skip</a>
				</td>
			</tr>
			<tr>
				<td colspan="4">
					<div class="have_want_button">
						<img id="" onclick="return moveNextQuiz(2);" src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/want_one.png" onmouseover="this.src='https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/want_one_roll.png';" onmouseout="this.src='https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/want_one.png';">
						<img id="" onclick="return moveNextQuiz(3);" src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/have_one.png" onmouseover="this.src='https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/have_one_roll.png';" onmouseout="this.src='https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/have_one.png';">
					</div>
				</td>
			</tr>
		</table>
		<div class="image_thumb_list">
			<table>
				<tr>
					<td><img id = "want_1" style="width:70px;height:50px;" src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/image_placeholder.png" /></td>
					<td><img id = "want_2" style="width:70px;height:50px;" src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/image_placeholder.png" /></td>
					<td><img id = "want_3" style="width:70px;height:50px;" src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/image_placeholder.png" /></td>
					<td><img id = "have_1" style="width:70px;height:50px;" src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/image_placeholder.png" /></td>
					<td><img id = "have_2" style="width:70px;height:50px;" src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/image_placeholder.png" /></td>
					<td><img id = "have_3" style="width:70px;height:50px;" src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/image_placeholder.png" /></td>
				</tr>
			</table>
		</div>
	</div>


	<div id = "quiz_signup_user" class="signup_connect" style="display: none">
		<div id="quiz_heading" style="text-align: center">Sign up to connect to trade results.</div>
		<div class="signup_quiz_body">
			<div class="signup_quiz_results">Results > We found <a href="#" onclick="return false;">17</a> users for you to trade with ...</div>
			<div class="user_image_quiz">
				<img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/thumb_img1.jpg" />
				<img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/thumb_img2.jpg" />
				<img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/thumb_img3.jpg" />
				<img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/thumb_img4.jpg" />
				<img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/thumb_img5.jpg" />
				<img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/thumb_img6.jpg" />
				<img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/thumb_img7.jpg" />
				<img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/thumb_img8.jpg" />
				<img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/thumb_img9.jpg" />
				<img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/thumb_img10.jpg" />
				<img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/thumb_img11.jpg" />
				<img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/thumb_img12.jpg" />
				<img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/thumb_img13.jpg" />
				<img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/thumb_img14.jpg" />
				<img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/thumb_img15.jpg" />
				<img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/thumb_img16.jpg" />
				<img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/thumb_img17.jpg" />
			</div>
			<div class="signup_quiz_head">Sign up to view trades</div>
			<a href="/auth/facebook" class="auth_provider position-click auth_provider_more" style="margin: 0px;"><img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/connect_fb.png" onmouseover="this.src='https://s3.amazonaws.com/tradeya_prod/tradeya/images/connect_fb_roll.png';" onmouseout="this.src='https://s3.amazonaws.com/tradeya_prod/tradeya/images/connect_fb.png';" /></a><br />
			<div class="quiz_or">- or -</div>
			<%= form_for(:user, :url => {:controller =>"registrations", :action=>"create_guest"}, :html => {:multipart => true, :id => "signUpGuestQuizForm_1", :target => 'if_ip_upload', :onSubmit => ""}) do |f| %>
				<input type="email" id="user_email_quiz_1" class="user_email_quiz" name="user[signup_guest_email]" class="removeborder" /></td>
					<input id="signup_quiz_1" name="signup_quiz" type="hidden" value=true>
					<img class="position-click" src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/signup_quiz.png" onclick = "guestSignup4mQuiz(1); return false;">
					<div class="quiz_signup_skip"><a href="#" onclick = "isQuiz = false; $('#quiz_box').modal('hide'); return false;">Skip</a></div>
		<% end %>
		</div>
	</div>



	<div id = "quiz_tough_nut" class="geez_tough" style="display: none">
		<div id="quiz_heading" style="text-align: center">Geez, you’re a tough nut to crack!</div>
		<div class="signup_quiz_body">
			<div class="signup_quiz_head">Sign up and we’ll dig deeper to<br />find you some folks to trade with.</div>
			<a href="/auth/facebook" class="auth_provider position-click auth_provider_more" style="margin: 0px;"><img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/connect_fb.png" onmouseover="this.src='https://s3.amazonaws.com/tradeya_prod/tradeya/images/connect_fb_roll.png';" onmouseout="this.src='https://s3.amazonaws.com/tradeya_prod/tradeya/images/connect_fb.png';" /></a><br />
			<div class="quiz_or">- or -</div>
			<%= form_for(:user, :url => {:controller =>"registrations", :action=>"create_guest"}, :html => {:multipart => true, :id => "signUpGuestQuizForm_2", :target => 'if_ip_upload', :onSubmit => ""}) do |f| %>
				<input type="email" id="user_email_quiz_2" class="user_email_quiz" name="user[signup_guest_email]" class="removeborder" /><br />
					<input id="signup_quiz_2" name="signup_quiz" type="hidden" value=true>
					<img class="position-click" src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/signup_quiz.png" onclick = "guestSignup4mQuiz(2); return false;">
					<div class="quiz_signup_skip"><a href="#" onclick = "isQuiz = false; $('#quiz_box').modal('hide'); return false;">Skip</a></div>
			<% end %>
		</div>
	</div>
	<div id="signupmessage"><div id="error_explanation_quiz"></div></div>
	
	<!--
	<div id="signup_images_div" style="display: none">
		<div id="quiz_heading">Save your answers and we’ll tell <br />you when we have what you want.</div>
		<a href="/auth/facebook" onclick="_kmq.push(['record', 'Quiz '+signup_dialog[signup_dialog_no]+' button fb']);	_gaq.push(['_trackEvent', 'Quiz', 'Quiz_'+signup_dialog[signup_dialog_no] +'_fb', 'Click fb connect after pics '+signup_dialog[signup_dialog_no]]);" class="auth_provider position-click auth_provider_more" style="margin: 0px;"><img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/connect_fb.png" onmouseover="this.src='https://s3.amazonaws.com/tradeya_prod/tradeya/images/connect_fb_roll.png';" onmouseout="this.src='https://s3.amazonaws.com/tradeya_prod/tradeya/images/connect_fb.png';" /></a><br />
		or
		<%#= form_for(:user, :url => {:controller =>"registrations", :action=>"create_guest"}, :html => {:multipart => true, :id => "signUpGuestQuizForm", :target => 'if_ip_upload', :onSubmit => ""}) do |f| %>
			<table align="center" width="65%" style="margin-left: 128px;">
				<tr>
					<td>
						<div class="signin_text">EMAIL</div>
					</td>
					<td></td>
					<td style="text-align: left"><input type="email" id="user_email_quiz" name="user[signup_guest_email]" class="removeborder" /></td>
					<input id="signup_quiz" name="signup_quiz" type="hidden" value=true>
				</tr>
				<tr>
					<td colspan="3"><div id="signupmessage"><div id="error_explanation_quiz"></div></div></td>
				<tr>
					<td></td>
					<td></td>
					<td style="text-align: left">
						<img id="" onclick="return guestSignup4mQuiz();" class="position-click" src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/signup_new.png" onmouseover="this.src='https://s3.amazonaws.com/tradeya_prod/tradeya/images/signup_roll_new.png';" onmouseout="this.src='https://s3.amazonaws.com/tradeya_prod/tradeya/images/signup_new.png';">
						<div class="cancel_div" style="margin-left: 124px; margin-top: -40px;">
							<span class="or">or just</span> <span class="cancel"><a style="color: #fff;" class="cancel-click" href="#" onclick=" _kmq.push(['record', 'Quiz '+signup_dialog[signup_dialog_no]+' skip to next quiz']); _gaq.push(['_trackEvent', 'Quiz', 'Quiz_'+signup_dialog[signup_dialog_no] +'_nxtqz', 'Click skip to next ques after pics '+signup_dialog[signup_dialog_no]]); return moveNextQuiz(6);">skip to next question</a></span>
						</div>
					</td>
				</tr>
			</table>
		<%# end %>
	</div> -->
</div>
<script type="text/javascript">
	var img_no = 0;
	// var signup_dialog_no = 0;
	var have_one=0
	var want_one=0;
	// var signup_dialog = {1:'1-3', 2:'4-6', 3:'7-9'};
	// var quiz_chk = false;
	// var connect_option = false;
	var itm_imgs = [
		['Louis Vuitton shoulder bag [LIKE NEW]', 'Classic Louis Vuitton shoulder bag. I\'ve barely used it and it\'s in near perfect condition.' ,'https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/image1.jpg'],
		['LG G2x P999 Andriod unlocked', 'just out of contract and unlocked. 16gb model' ,'https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/image2.jpg'],
		['15\" macbook pro', '3 year old Macbook PRO. 8GB ram, 512 HD, final cut HD, good condition' ,'https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/image3.jpg'],
		['2.5ct Diamond Engagement Ring','Don\'t miss this BEAUTY! Perfect for asking that special someone the BIG question!!!!!' ,'https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/image4.jpg'],
		['Professional Family Photography', 'Hi There. I\'ve been a professional photographer for 7 years, specializing in family portraiture including a lot of mother/daughter work. Great for MOTHERS DAY :)' ,'https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/image5.jpg'],
		['Graphic design/Logo/Branding', 'Bring out your best with custom graphic design, logo and branding. I\'ll create a custom look for your company. Fast turn around.' ,'https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/image6.jpg'],
		['4th gen IPOD touch', 'New in box 4th gen ipod touch. never used. don\'t need, have an iphone, let me know what you\'ve got' ,'https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/image7.jpg'],
		['2 tix Beyonce July 25th wellsfargo center', 'good seats to Beyonce. i can\'t go! bummer ;(', 'https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/image8.jpg'],
		['Full HD Video Production Studio', 'Literally every single thing you need to make an HD indie movie. Great documentary set up. I upgraded to the RED camera and don\'t need any more.' ,'https://s3.amazonaws.com/tradeya_prod/tradeya/images/quiz_new/image9.jpg']
	];
	// clickItm: 1 (cross), 2(want), 3(have), 4(skip)
	function moveNextQuiz(clickItm){
		switch(clickItm){
			case 1:
				// alert('ga and kissmatrics code for cross');
				// if(connect_option)
				// {	_kmq.push(['record', 'Quiz '+signup_dialog[signup_dialog_no]+' cross']); 
				// 	_gaq.push(['_trackEvent', 'Quiz', 'Quiz_'+signup_dialog[signup_dialog_no]+'_cross', 'Click cross after pics '+signup_dialog[signup_dialog_no]]);
				// }
				// else
				// {
				// 	_kmq.push(['record', 'Quiz pic'+img_no+' cross']); 
				// 	_gaq.push(['_trackEvent', 'Quiz', 'Pic'+img_no+'_Cross', 'Pic '+img_no+' cross']);
				// }
				isQuiz = false; 
				// hideModal('quiz_box', true);
				$('#quiz_box').modal('hide');
  				break;
			case 2:
  				// alert('ga and kissmatrics code for want');
  				//_kmq.push(['record', 'Quiz pic'+img_no+' want one']); 
				// _gaq.push(['_trackEvent', 'Quiz', 'Pic'+img_no+'_Want', 'Pic '+img_no+' I want one']); 
				want_one = want_one + 1;
				jQuery('#want_'+want_one).attr('src', itm_imgs[img_no][2]);
  				break;
			case 3:
  				// alert('ga and kissmatrics code for have');
  				//_kmq.push(['record', 'Quiz pic'+img_no+' have one']); 
				// _gaq.push(['_trackEvent', 'Quiz', 'Pic'+img_no+'_Have', 'Pic '+img_no+' I have one to trade']); 
				have_one = have_one + 1;
				jQuery('#have_'+have_one).attr('src', itm_imgs[img_no][2]);
  				break;
			case 4:
  				// alert('ga and kissmatrics code for skip');
  				//_kmq.push(['record', 'Quiz pic'+img_no+' skip']); 
				// _gaq.push(['_trackEvent', 'Quiz', 'Pic'+img_no+'_Skip', 'Pic '+img_no+' skip to next question']); 
  				break;
  			case 5:
  				// called from after_guest_user_signup to send KM/GA data for sign up
  				if(img_no >= 9)
  				{
  					//_kmq.push(['record', 'Quiz tough nut signup']); 
					// _gaq.push(['_trackEvent', 'Quiz', 'Quiz_tough_nut_signup', 'Click signup for tough nut']);
  				}
  				else
  				{
  					//_kmq.push(['record', 'Quiz after results signup']); 
					// _gaq.push(['_trackEvent', 'Quiz', 'Quiz_results_signup', 'Click signup after results']);
  				}
  				break;
  			case 7:
  				// called from facebook_sign_in_success to send KM/GA data for fb sign up
  				if(img_no >= 9)
  				{
  					//_kmq.push(['record', 'Quiz tough nut signup via fb']); 
					// _gaq.push(['_trackEvent', 'Quiz', 'Quiz_tough_nut_signup_fb', 'Click signup tough nut via fb']);
  				}
  				else
  				{
  					//_kmq.push(['record', 'Quiz after results signup via fb']); 
					// _gaq.push(['_trackEvent', 'Quiz', 'Quiz_results_signup_fb', 'Click signup after results via fb']);
  				}
  				break;
			default:
		}
		img_no = img_no + 1;
		if((want_one + have_one) >= 3 && !isQuizSignUp && !KM_SignedIn){
				$('#images_div').hide();
				$('#quiz_signup_user').show();
			}
		else if(img_no < 9 )
			{
				jQuery('#image_title').html(itm_imgs[img_no][0]);
				jQuery('#image_desc').html(itm_imgs[img_no][1]);
				jQuery('#quiz_itm_img').attr('src', itm_imgs[img_no][2]);
			}
		else{
				$('#quiz_tough_nut').show();
			 	$('#images_div').hide();
				// img_no = img_no + 1;
				// connect_option = false;
				// jQuery('#signup_images_div').hide();
				// jQuery('#images_div').show();
				// if(img_no >= 9) { isQuiz = false; hideModal('quiz_box', true); return false;}
				// jQuery('#image_title').html(itm_imgs[img_no][0]);
				// jQuery('#quiz_itm_img').attr('src', itm_imgs[img_no][1]);
				// if(img_no % 3 == 0) quiz_chk = true;
			}
		// }

		// if(quiz_chk && !isQuizSignUp && !KM_SignedIn){
		// 	signup_dialog_no = signup_dialog_no + 1;
		// 	var log_skip = false;
		// 	connect_option  =true;
		// 	// alert(signup_dialog[signup_dialog_no]);
		// 	jQuery('#images_div').hide();
		// 	jQuery('#signup_images_div').show();
		// 	quiz_chk = false;
		// }else{
		// 	img_no = img_no + 1;
		// 	connect_option = false;
		// 	jQuery('#signup_images_div').hide();
		// 	jQuery('#images_div').show();
		// 	if(img_no >= 9) { isQuiz = false; hideModal('quiz_box', true); return false;}
		// 	jQuery('#image_title').html(itm_imgs[img_no][0]);
		// 	jQuery('#quiz_itm_img').attr('src', itm_imgs[img_no][1]);
		// 	if(img_no % 3 == 0) quiz_chk = true;
		// }
		return false;
	}
	function guestSignup4mQuiz(num)
	{
		$('#error_explanation_quiz').text("");
		if(jQuery('#user_email_quiz_'+num).val() != "")
		{
			startSpinner();
			if(canSubmitCanNext)
			{
				if(img_no < 9)
				{
					// _kmq.push(['record', 'Quiz clicked button signup after results']); 
					// _gaq.push(['_trackEvent', 'Quiz', 'Quiz_clk_signup_res', 'Click btn signup after results']); 
				}
				else
				{
					// _kmq.push(['record', 'Quiz clicked button signup for tough-nut']); 
					// _gaq.push(['_trackEvent', 'Quiz', 'Quiz_clk_signup_toughnut', 'Click btn signup for tough-nut']);
				}

				$('#signUpGuestQuizForm_'+num).submit();
				canSubmitCanNext = false;
			}
				// jQuery.ajax({
				// 	url: "/create_guest",
				// 	type: "POST",
				// 	data: "authenticity_token=" + encodeURIComponent($("#signInForm input[name=authenticity_token]").val())+"&user[signup_guest_email]="+jQuery('#user_email_quiz').val()+"&signup_quiz=true",
				// 	success: function(data){
				// 		 _kmq.push(['record', 'Quiz '+signup_dialog[signup_dialog_no]+' button signup']); 
				// 		 _gaq.push(['_trackEvent', 'Quiz', 'Quiz_'+signup_dialog[signup_dialog_no] +'_signup', 'Click signup after pics '+signup_dialog[signup_dialog_no]]); 
				// 		 isQuizSignUp = true;
				// 	},
				// 	error: function(data){
				// 	}
				// });
		}
		else
		{
			$('#error_explanation_quiz').text("Email can't be blank.");
		}
		// alert('write code to signup as guest in _quize.html.erb method guestSignup4mQuiz();');
		return false;
	}
</script>
