<div id="review_submitted" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
	<div id="crossimg"> <a href="#" data-dismiss="modal" aria-hidden="true">X</a></div>
	<div align="center" id="submit_rev_head" style="margin-top: 20px; margin-bottom: 5px">
		Your review was submitted
	</div>
	<div align="center" id="ok_btn" style="margin-top: 15px;">
		<a href="#" data-dismiss="modal" aria-hidden="true">
			<img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/ok.png" onmouseover="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/ok_roll.png';" onmouseout="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/ok.png';"  />
		</a>
	</div>
</div>
