<div id="signup_confirm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
	<div class="modal-body">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$('#signup_confirm').modal('hide'); return false;">&times;</button>
		<div align="center"><img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/confirm_icon.png" /></div>
		<div align="center" id="submit_tr_head" style="margin-top: 10px;">
			Thank you for joining the TradeYa movement!
		</div>
		<div align="center" id="submit_tr_subhead">We sent you an email. Please click the link in it<br /> to verify your email address.</div>
		<div align="center" id="ok_btn">
			<a id = "signUpConfOK" href="#" onclick="return signUpConfModalOk(); return false;">
				<img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/ok.png" onmouseover="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/ok_roll.png';" onmouseout="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/ok.png';"  />
			</a>
		</div>
	</div>
</div>
