<div id="thnx_cat" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
	<div id="crossimg"> <a href="#" data-dismiss="modal" aria-hidden="true">X</a></div>
	<div align="center" id="trd_end_head" style="">
		Your suggestion was submitted.
	</div>
	<div align="center" id="ok_btn"><a href="#" data-dismiss="modal" aria-hidden="true"><img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/ok.png" onmouseover="this.src='https://s3.amazonaws.com/tradeya_prod/tradeya/images/ok_roll.png';" onmouseout="this.src='https://s3.amazonaws.com/tradeya_prod/tradeya/images/ok.png';"  /></a></div>
</div>
