<div id="tradeya_submitted" class="confirmation_content">
	<div id="crossimg"> <a href="#" onclick="return hideModal('tradeya_submitted', false);">X</a></div>
	<div align="center" id="submit_tr_head">
		<%= message_text %>
	</div>
	<div align="center" style="height: 50px;"></div>
	<div align="center" id="ok_btn"><a href="#" onclick="document.getElementById('tradeya_submitted').style.display='none';document.getElementById('fade').style.display='none'; return false;"><img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/ok.png" onmouseover="this.src='https://s3.amazonaws.com/tradeya_prod/tradeya/images/ok_roll.png';" onmouseout="this.src='https://s3.amazonaws.com/tradeya_prod/tradeya/images/ok.png';"  /></a></div>
</div>
