<div id="tradeya_end" class="confirmation_content" style="display: none">
	<div id="crossimg"> <a href="#" onclick="return hideModal('tradeya_end', false);">X</a></div>
	<div align="center" id="trd_end_head">
		Congrats! Your message was sent, <br /> and your TradeYa will end in: 
	</div>
	<div align="center" class="timer_color" id="timeleft_2">
		2 Days 03:32:55
	</div>
	<div align="center" id="ok_btn">
		<a href="#" onclick="return false;">
			<img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/ok.png" onmouseover="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/ok_roll.png';" onmouseout="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/ok.png';" onclick="hideModal('tradeya_end',true);location.reload();return false;"/>
		</a>
	</div>
</div>
