<div id="usr_pwd_chng" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div id="crossimg"> <a href="#" onclick="cancelChangePassword(); return false;">X</a></div>
  <div class="chng_pwd_head">
    Change Password
  </div>
  <%= form_for :user,:url => {:controller=> "registrations", :action => 'change_user_password'}, :html => {:id => "change_password_form"} do |f| %>

  <div id = "error_change_password" style = " margin-top: 10px; text-align:left;line-height:14px;color: red;font-size: 10pt; height:15px;"></div>

  <table width="100%" style="margin-top: 30px;">
    <tr>
      <td width="38%"><div class="user_info_text">ENTER OLD PASSWORD</div></td>
      <td width="3%"></td>
      <td width="62%">
        <% if f.object.present? and f.object.encrypted_password.present? %>
        <%= f.password_field :current_password, :class => "user_info_email addborder" %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><div class="user_info_text">ENTER NEW PASSWORD</div></td>
      <td></td>
      <td>
        <%= f.password_field :password, :id => "user_new_password" ,:class => "user_info_email addborder", :autocomplete => "off"  %>
        <!-- <input id = "user_new_password" type="password" class="user_info_email removeborder" /> -->
      </td>
    </tr>
    <tr>
      <td><div class="user_info_text">RE-ENTER NEW PASSWORD</div></td>
      <td></td>
      <td>
        <%= f.password_field :password_confirmation,:id => "user_new_password_confirmation", :class => "user_info_email addborder" %>
        <!-- <input id="user_password_confirmation" type="password" class="user_info_email removeborder" /> -->
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>
        <div style="margin-top:20px">
          <img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/save_button.png" onmouseover="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/save_button_roll.png'" onmouseout="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/save_button.png'" onclick= "changePassword();" style="cursor: pointer;" />
          <div class="cancel_div" style="margin-left: 124px; margin-top: -32px;">
            <span class="or">or</span> <span class="cancel"><a class="cancel-click" href="#" onclick="cancelChangePassword(); return false;">Cancel</a></span>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <% end %>
</div>
