<div id="want_end_trd" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
	<div id="crossimg"> <a href="#" data-dismiss="modal" aria-hidden="true">X</a></div>
	<div align="center" id="trd_end_head">
		Congrats! Your message was sent. <br /> Do you want to end your TradeYa? 
	</div>
	<div align="center" id="yes_no_btn">
		<a href="#" onclick="return false;">
			<img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/yes.png" onmouseover="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/yes_roll.png';" onmouseout="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/yes.png';"  onclick="return completeTradeya();"/>
		</a>
		<a href="#" onclick="return false;">
			<img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/no.png" onmouseover="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/no_roll.png';" onmouseout="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/no.png';" onclick="return showTimeRemaining();"  />
		</a>
	</div>
	<div align="center" class="note_offer">
		(Note: all users who have submitted offers will be notified<br />
		if you decide to end your TradeYa.)
	</div>
</div>
