<div id="welcome_to_tradeya" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div align="center"><img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/welcome_hover.png"></div>
  <div id="ok_btn" style="margin-top: 10px; margin-left: 122px;">
    <a href="#" onclick="return false;"><img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/create_profile.png" onmouseover="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/create_profile_roll.png';" onmouseout="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/create_profile.png';" onclick="$('#welcome_to_tradeya').modal('hide'); isWelcomeToTradeyaShow = false; return false;"  /></a>
  </div>
</div>
<iframe src="http://roitrack.displayadfeed.com/conversion.jsp?vid=576457" scrolling="no" frameborder="0" width="1" height="1"></iframe>
