log/*.log
config/database.yml
data
env
db/*.sqlite3
db/schema.rb
tmp/**/*
doc/api
doc/app
lib/user_uploaded
nbproject
.DS_Store
public/assets
public/system/*
/.rbenv-version
public/tmp_files/*
solr/data
solr/pids/
log/*.log.*
/TAGS
dump.rdb
.gemtags
.tags

# Ignore application configuration
/config/application.yml
/mysql2psql.yml
/config/initializers/better_errors.rb
/doc/dev_notes/todo.org
