  <div class="recommend">We Recommend Signing Up With Social Sites</div>
  <div class="social_sharing_section">
    <!-- <div class="social_icons"><img src="http://d3md9h2ro575fr.cloudfront.net/images/fb_signup.png"></div> -->
    <!-- <div class="social_icons"><img src="http://d3md9h2ro575fr.cloudfront.net/images/gplus_signup.png"></div> -->
    <!-- <div class="social_icons"><img src="http://d3md9h2ro575fr.cloudfront.net/images/twitter_signup.png"></div> -->
    <a id="fb_login_icon" href="/auth/facebook" class="auth_provider position-click auth_provider_more" onclick="/*_kmq.push(['record', 'Modal Sign Up Connect Facebook Button',{ 'SignedIn' : get_KMSignedIn()}]);*/ _gaq.push(['_trackEvent', 'register', 'sign_up', 'Sign Up FB from Sign Up Modal']);mixpanel.track('Sign Up FB from Sign Up Modal');"><img src="http://d3md9h2ro575fr.cloudfront.net/images/login_fb_off.png" onmouseover="this.src='http://d3md9h2ro575fr.cloudfront.net/images/login_fb_on.png'" onmouseout="this.src='http://d3md9h2ro575fr.cloudfront.net/images/login_fb_off.png'" id="fb_login_img"></a>
    <a id="tw_login_icon" href="/auth/twitter" onclick="/*_kmq.push(['record', 'Modal Sign Up Connect Twitter Button',{ 'SignedIn' : get_KMSignedIn()}]);*/ _gaq.push(['_trackEvent', 'register', 'sign_up', 'Sign Up Twitter from Sign Up Modal']);mixpanel.track('Sign Up Twitter from Sign Up Modal');"><img src="http://d3md9h2ro575fr.cloudfront.net/images/login_tw_off.png" onmouseover="this.src='http://d3md9h2ro575fr.cloudfront.net/images/login_tw_on.png'" onmouseout="this.src='http://d3md9h2ro575fr.cloudfront.net/images/login_tw_off.png'" id="tw_login_img"></a>
  </div>
