<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;">
<head style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;">
<!-- If you delete this tag, the sky will fall on your head -->
<meta name="viewport" content="width=device-width" style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;">
<title style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;">TradeYa</title>


</head>

<body bgcolor="#eeeeee" style="background: #eeeeee; background-color: #eeeeee; margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: none;height: 100%;max-width: 500px;margin-left: auto; margin-right: auto;">
  <div class="body_bck" style="background-color: #ffffff;margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;margin-left: auto;margin-right: auto;border: 1px solid #ccc;">
    <!-- HEADER -->
    <div class="header_top" style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;background-image: url(https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/header_bg.png);background-repeat: repeat-x;height: 6px;"></div>
    <table class="head-wrap" bgcolor="#55aad4" style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;width: 100%;">
      <tr style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;">
        <td style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;"></td>
        <td class="header container" style="margin: 0 auto;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;display: block;max-width: 500px;clear: both;">
            <div class="content" style="margin: 0 auto;padding: 10px 10px 10px 20px;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;max-width: 500px;display: block;">
              <table bgcolor="#55aad4" style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;width: 100%;">
              <tr style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;">
                <td style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;"><img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/logoTemp.png" style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;max-width: 100%;"></td>
              </tr>
            </table>
            </div>

        </td>
        <td style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;"></td>
      </tr>
    </table><!-- /HEADER -->


    <!-- BODY -->
    <table class="body-wrap" style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;width: 100%;background-color: #ffffff;">
      <tr style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;">
        <td style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;"></td>
        <td class="container" bgcolor="#FFFFFF" style="margin: 0 auto;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;display: block;max-width: 500px;clear: both;">

          <div class="content" style="margin: 0 auto;padding: 10px 10px 10px 20px;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;max-width: 500px;display: block;">
            <table style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;width: 100%;">
              <tr style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;">
                <td style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;">

                  <p class="head" style="margin: 0px;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;font-weight: bold;font-size: 24px;color: #000000;line-height: 2;">Spread the good news!</p>
                  <p class="lead" style="margin: 0px 0px 10px 0px;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;font-weight: normal;font-size: 16px;color: #000000;line-height: 2;">Hi <%= @first_name.capitalize %>,</p>
                  <p class="lead1" style="margin: 0px;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;font-weight: normal;font-size: 16px;color: #000000;">I want to tell you about something pretty incredible that's happened at TradeYa over the last 2 months since we soft-launched the new site:</p>
                  <!-- <p class="lead_content" style="margin: 0px;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;font-weight: bold;font-size: 16px;color: #55aad4;">'Original photograph of jean-michel basquiat'.</p> -->

                </td>
              </tr>
            </table>
            <table class="user_detail" style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;margin-top: 18px;width: 100%;">
              <tr style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;">
                <td width="25%" style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;"><div class="img_border" style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif; width: auto; max-height: 95px;"><img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/iPadmini (2).jpg" style="margin: 0;padding: 0;width: auto; max-height: 95px;border: 2px solid #55aad4;"></div></td>
                <!-- <td width="75%" valign="top" style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;">
                  <div class="user_name" style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;color: #55aad4;font-size: 16px;font-weight: bold;">Rebecca Rogers</div>
                  <div class="user_location" style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;color: #000000;font-size: 16px;">Los Angeles, CA</div>
                  <div class="user_sim" style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;color: #000000;font-size: 14px;margin-top: 12px;">28 similarities</div>
                  <div class="user_trd" style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;color: #000000;font-size: 14px;">2 TradeYas</div>
                </td> -->
              </tr>
            </table>
            <div style="margin-top: 15px;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;"><a href="http://blog.tradeya.com/1034180/"><img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/check_out.png" style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;max-width: 100%;"></a></div>
			<p> Here's a hint: it's about you!</p>
            <p class="your" style="margin: 20px 0px 0px 0px;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;font-weight: normal;font-size: 16px;color: #000000;">Yours,</p>
            <p class="user_location" style="margin: 0px 0px 12px 0px;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;font-weight: normal;font-size: 16px;color: #000000;">The TradeYa Team</p>
          </div>
        </td>
        <td style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;"></td>
      </tr>
    </table><!-- /BODY -->
  </div>
  <div class="footer_bck" style="margin: 0;padding: 12px;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;margin-left: auto;margin-right: auto;background-color: #eeeeee;">
    <table class="footer-wrap" style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;width: 100%;clear: both;">
      <tr style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;">
        <td style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;"></td>
        <td class="container" style="margin: 0 auto;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;display: block;max-width: 500px;clear: both;">

            <!-- content -->
            <div class="content" style="margin: 0 auto;padding: 10px 10px 10px 10px;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;max-width: 500px;display: block;">
            <table style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;width: 100%;">
            <tr style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;">
              <td style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;">
                <p class="footer_text" style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;font-weight: normal;font-size: 10.67px;color: #666666;">
                  TradeYa.com © 2012, All Rights Reserved
                  <a href="#" style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;color: #666666;font-size: 10.67px;"><unsubscribe style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;">Unsubscribe from this list</unsubscribe></a>
                </p>
              </td>
            </tr>
          </table>
            </div><!-- /content -->

        </td>
        <td style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;"></td>
      </tr>
    </table><!-- /FOOTER -->
  </div>
</body>
</html>
