<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	Hi <%= @item.user.first_name %>,
	<p><%= @msg %></p>

Thanks,<br/>
<%= @current_user.first_name %>

</body>
</html>