<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	</head>
	<body style="font-size:15px; padding: 0px; margin: 0px; font-family:  Arial, Helvetica, sans-serif; height: auto;">
		<div style="font-weight:bold; font-size:20px;"><span style="color:#55aad4;">Message from</span> Trade<span style="color:#55aad4;">Ya</span><br/></div>

		<p>Dear <%=@user.first_name.capitalize %>,</p>

		<p>We are sorry to see you go! But we hope you'll be back soon!<p><br/>
			
		<p>Cheers,</p>
		<p>Jared TradeYa</p><br/>
		<p>Want to reactivate your account? <a href="<%=guest_deactivate_account_url%>?guest_user_token=<%=@user.guest_user_token %>">Click here to sign up</a> for TradeYa.</p>
	</body>
</html>