<p>please provide more information of your <%=@item.title%></p>
<p>"The  "<%=@sender.title%>" has requested some more information on your "<%=@item.title%>".</p> 
<p>Click <%=link_to 'here' , edit_item_url(@item)%> to add more information.</p>