<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	</head>
	<body style="background-color: #fff; padding: 0px; margin: 0px; font-family:  Arial, Helvetica, sans-serif; height: auto;">
		<div style="height: 635px; width: 635px; background-color: #fff; margin-left: auto; margin-right: auto;">
			<div align="center" style="width: 600px; height: 603px; border: 1px solid #ccc; background-color: white;margin: 20px;">
				<div style="height: 92px; border-bottom: 1px solid #ccc;"><img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/tuesday_header.png"></div>
				<div style="height: 368px;">
					<div>
						<div style="text-align: left; margin-top: 50px; margin-bottom: 30px; margin-left: 45px;"><img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/logo.png" /></div>
						<div style="text-align: left; font-size: 14.66px; color: #000; margin-left: 45px;">
							If you join us today, we'll ......

							<p style="margin-top: 20px;">Try TradeYa Tuesday & boycott black Friday!</p>

							<p style="margin-top: 20px;">Wanted: One Million Awesome People to Help Build a New Economy</p>

							<p style="margin-top: 20px;">Join the Barter Army movement and start receiving value for what you have or<br/>
							can do and trade it for things you need or want. You deserve to be recognized<br/>
							for your value, barter it. Put aside currency for a day and celebrate TradeYa<br/>
							Tuesday after Thanksgiving by joining the barter movement. Be a part of the<br/>
							Barter Revolution. It's easy at <a href="www.tradeya.com" style="text-decoration: none; font-weight: bold; color: #55aad4;">www.TradeYa.com</a></p>
						</div>
						<div style="text-align: left; margin-left: 45px; margin-top: 22px;">
							<img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/try_trd_tuesday.png" />
						</div>
					</div>
				</div>
				<table width="100%" style="border-collapse: collapse; height: auto;">

				</table>
				<div style="height: 94px;background-color: #ccc;font-size: 10.67px;color: #999999;text-align: center;margin-left: 0px;">
				
				</div>
			</div>
		</div>
	</body>
</html>--