<table>
  <tr id="user_images_row">
    <td>
      <div id="upload_more" class=" upload_image_video active_image_upload">
        <a id="more_more_2" href="#photo_upload_modal" onclick=" return false;" data-toggle="modal" aria-labelledby="myModalLabel" class="add_photo_link"><img src="http://d3md9h2ro575fr.cloudfront.net/images/add_image.png"></a>
       <!--  <img src="http://d3md9h2ro575fr.cloudfront.net/images/add_image.png"> -->
      </div>
    </td>
    <td>
      <div id="upload_more" class="empty_image_upload upload_image_video">
        <img src="http://d3md9h2ro575fr.cloudfront.net/images/blank_image.jpg">
      </div>
    </td>
    <td>
      <div id="upload_more" class="empty_image_upload upload_image_video">
        <img src="http://d3md9h2ro575fr.cloudfront.net/images/blank_image.jpg">
      </div>
    </td>
    <td>
      <div id="upload_more" class="empty_image_upload upload_image_video">
        <img src="http://d3md9h2ro575fr.cloudfront.net/images/blank_image.jpg">
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div>
        <span id="more_more" href="#" class="upload_link">Main photo</span>
      </div>
    </td>
  </tr>
</table>    