                  <div id="resend_modal" class="modal fade hide">
                    <a href="#" class="close" data-dismiss="modal"><img src="http://d3md9h2ro575fr.cloudfront.net/images/modal_cross.png"></a>
                    <div class="user_sub_heading in_center re_pin_heading">Resending Pin</div>
                    <div class="resend_modal_text re_pin_text">
                      We have sent the number you entered a new<br> pin. You should get it any second.
                    </div>
                    <div class="resend_footer">
                      <span><a href="#" class="resend_submit" data-dismiss="modal">Cool, Thanks</a>  </span>
                    </div>
                  </div>
