                  <div id="remove_ph_no" class="modal fade hide">
                    <a href="#" class="close" data-dismiss="modal"><img src="http://d3md9h2ro575fr.cloudfront.net/images/modal_cross.png"></a>
                    <div class="user_sub_heading in_center re_pin_heading">Remove Phone Number?</div>
                    <div class="resend_modal_text re_pin_text ">
                      Are you sure you want to remove the phone<br> number associated with your account?
                    </div>
                    <div class="resend_footer">
                      <span><a href="#" id="remove_phone_verification" class="resend_submit ma_r" >Remove</a> or  <a href="#" data-dismiss="modal">Cancel</a></span>
                    </div>
                  </div>