
<script>
$(document).ready(function(){
	$('.wants_container').css('width','750px');
	$('.wants_container').css('position','relative');
	$('.wants_container').BlocksIt({
		numOfCol: 3,
		offsetX: 10,
		offsetY: 10,
		blockElement: '.user_wants_card'
	});
	$("img").one("load",function(){
		 $('.wants_container').BlocksIt({
				numOfCol: 3,
				offsetX: 10,
				offsetY: 10,
				blockElement: '.user_wants_card'
			});
	});
});
</script>
<div id="left_section_activity">
	<div class="recent_text"><img src="http://d3md9h2ro575fr.cloudfront.net/images/recent_clock.png"><a href="#">Recent</a></div>
	<ul class="recent_items_list">
		<li><a href="#">Iphone 5s</a></li>
		<li><a href="#">Android Galaxy</a></li>
		<li><a href="#">Garmin Timestamp</a></li>
	</ul>
	<div class="active_trade_text"><img src="http://d3md9h2ro575fr.cloudfront.net/images/active_trade_icon.png"><a href="#">active trades</a></div>
	<div class="wants_active_text"><img src="http://d3md9h2ro575fr.cloudfront.net/images/one_icon.png"><a href="#">wants</a></div>
	<ul class="my_wants_list">
		<li><a href="#">My Wants</a></li>
		<li class="active"><a href="#">Wants on my haves</a></li>
	</ul>
	<div class="pending_active_text"><img src="http://d3md9h2ro575fr.cloudfront.net/images/pending_icon.png"><a href="#">pending</a></div>
</div>
<div id="right_section_activity">
	<div class="wants_on_my_haves wants_container">
		<div class="user_wants_card">
			<div class="user_card_heading">
				<div class="clip">
					<img src="http://d3md9h2ro575fr.cloudfront.net/images/clip.png">
				</div>
				<div class="item_title_card">
						<a href="#">fwf</a>
				</div>
				<div class="item_heading_bottom">
					<div class="my_wants_icon">
						<div>
							<a href="#">15<img alt="Card_want_selected" src="http://d3md9h2ro575fr.cloudfront.net/images/one_icon.png"></a>
						</div>
					</div>
					<div class="my_wants_edit_icon">
						<div>
							<a href="#"><img src="http://d3md9h2ro575fr.cloudfront.net/images/share_edit.png" onmouseover="this.src='http://d3md9h2ro575fr.cloudfront.net/images/share_edit_hover.png'" onmouseout="this.src='http://d3md9h2ro575fr.cloudfront.net/images/share_edit.png'"></a></a>
						</div>
					</div>
				</div>
				<div class="item_wants_image">
						<a href="#"><img src="http://d3md9h2ro575fr.cloudfront.net/images/Small/food&amp;nutrition.png"></a>
				</div>
			</div>
		</div>
		<div class="user_wants_card">
			<div class="user_card_heading">
				<div class="clip">
					<img src="http://d3md9h2ro575fr.cloudfront.net/images/clip.png">
				</div>
				<div class="item_title_card">
						<a href="#">fwf</a>
				</div>
				<div class="item_heading_bottom">
					<div class="my_wants_icon">
						<div>
							<a href="#">15<img alt="Card_want_selected" src="http://d3md9h2ro575fr.cloudfront.net/images/one_icon.png"></a>
						</div>
					</div>
					<div class="my_wants_edit_icon">
						<div>
							<a href="#"><img src="http://d3md9h2ro575fr.cloudfront.net/images/share_edit.png" onmouseover="this.src='http://d3md9h2ro575fr.cloudfront.net/images/share_edit_hover.png'" onmouseout="this.src='http://d3md9h2ro575fr.cloudfront.net/images/share_edit.png'"></a></a>
						</div>
					</div>
				</div>
				<div class="item_wants_image">
						<a href="#"><img src="http://d3md9h2ro575fr.cloudfront.net/images/Small/food&amp;nutrition.png"></a>
				</div>
			</div>
		</div>
		<div class="user_wants_card">
			<div class="user_card_heading">
				<div class="clip">
					<img src="http://d3md9h2ro575fr.cloudfront.net/images/clip.png">
				</div>
				<div class="item_title_card">
						<a href="#">fwf</a>
				</div>
				<div class="item_heading_bottom">
					<div class="my_wants_icon">
						<div>
							<a href="#">15<img alt="Card_want_selected" src="http://d3md9h2ro575fr.cloudfront.net/images/one_icon.png"></a>
						</div>
					</div>
					<div class="my_wants_edit_icon">
						<div>
							<a href="#"><img src="http://d3md9h2ro575fr.cloudfront.net/images/share_edit.png" onmouseover="this.src='http://d3md9h2ro575fr.cloudfront.net/images/share_edit_hover.png'" onmouseout="this.src='http://d3md9h2ro575fr.cloudfront.net/images/share_edit.png'"></a></a>
						</div>
					</div>
				</div>
				<div class="item_wants_image">
						<a href="#"><img src="http://d3md9h2ro575fr.cloudfront.net/images/Small/food&amp;nutrition.png"></a>
				</div>
			</div>
		</div>
		<div class="user_wants_card">
			<div class="user_card_heading">
				<div class="clip">
					<img src="http://d3md9h2ro575fr.cloudfront.net/images/clip.png">
				</div>
				<div class="item_title_card">
						<a href="#">fwf</a>
				</div>
				<div class="item_heading_bottom">
					<div class="my_wants_icon">
						<div>
							<a href="#">15<img alt="Card_want_selected" src="http://d3md9h2ro575fr.cloudfront.net/images/one_icon.png"></a>
						</div>
					</div>
					<div class="my_wants_edit_icon">
						<div>
							<a href="#"><img src="http://d3md9h2ro575fr.cloudfront.net/images/share_edit.png" onmouseover="this.src='http://d3md9h2ro575fr.cloudfront.net/images/share_edit_hover.png'" onmouseout="this.src='http://d3md9h2ro575fr.cloudfront.net/images/share_edit.png'"></a></a>
						</div>
					</div>
				</div>
				<div class="item_wants_image">
						<a href="#"><img src="http://d3md9h2ro575fr.cloudfront.net/images/Small/food&amp;nutrition.png"></a>
				</div>
			</div>
		</div>
	</div>
</div>