<div class="container">
	<div class="span13 item_middle_section">
		<div class="center_content">
			<div class="notification_heading">Settings</div>
			<div class="user_sub_heading">Notification Settings</div>
			<div class="user_setting_hr"></div>
			<div class="notification_settings">
				<form class="form-horizontal send_notofication_from" >
					<div class="control-group">
						<label class="control-label" for="send_notification">Send me notifications when:<br /><span>NO SPAMMING we promise</span></label>
						<div class="controls">
							<label class="checkbox">
								<input type="checkbox" name="dayOptions" id="Immediately" value="Immediately"> <label>When my TradeYa begins</label>
							</label>
						</div>
						<div class="controls">
							<label class="checkbox">
								<input type="checkbox" name="dayOptions" id="Immediately" value="Immediately"> <label>When my TradeYa gets an offer</label>
							</label>
						</div>
						<div class="controls">
							<label class="checkbox">
								<input type="checkbox" name="dayOptions" id="Immediately" value="Immediately"> <label>When someone Likes my TradeYa</label>
							</label>
						</div>
						<div class="controls">
							<label class="checkbox">
								<input type="checkbox" name="dayOptions" id="Immediately" value="Immediately"> <label>When someone Wants my TradeYa</label>
							</label>
						</div>
						<div class="controls">
							<label class="checkbox">
								<input type="checkbox" name="dayOptions" id="Immediately" value="Immediately"> <label>When a TradeYa I have Wanted gets Traded</label>
							</label>
						</div>
						<div class="controls">
							<label class="checkbox">
								<input type="checkbox" name="dayOptions" id="Immediately" value="Immediately"> <label>When a TradeYa I have Liked gets Traded</label>
							</label>
						</div>
						<div class="controls">
							<label class="checkbox">
								<input type="checkbox" name="dayOptions" id="Immediately" value="Immediately"> <label>When I get a new comment</label>
							</label>
						</div>
						<div class="controls">
							<label class="checkbox">
								<input type="checkbox" name="dayOptions" id="Immediately" value="Immediately"> <label>When my offer is accepted</label>
							</label>
						</div>
						<div class="controls">
							<label class="checkbox">
								<input type="checkbox" name="dayOptions" id="Immediately" value="Immediately"> <label>Occasional TradeYa news and updates</label>
							</label>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="send_notification">Send me notifications:</label>
						<div class="controls">
							<label class="radio">
								<input type="radio" name="dayOptions" id="Immediately" value="Immediately"> <label>Immediately</label>
							</label>
							<label class="radio">
								<input type="radio" name="dayOptions" id="Once" value="Once" checked> <label>Once a day</label>
							</label>
							<label class="radio">
								<input type="radio" name="dayOptions" id="end" value="end" checked> <label>At the end of the week</label>
							</label>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="send_notification">Notifications should be sent via:</label>
						<div class="controls">
							<label class="radio">
								<input type="radio" name="emailOptions" id="Email" value="Email"> <label>Email</label>
							</label>
							<label class="radio">
								<input type="radio" name="emailOptions" id="SMS" value="SMS"> <label>SMS</label>
							</label>
							<label class="radio">
								<input type="radio" name="emailOptions" id="Both" value="Both" checked> <label>Both email and SMS</label>
							</label>
						</div>
					</div>
					<div class="user_sub_heading">Tool Tip Preferences</div>
					<div class="user_setting_hr"></div>
					<div class="control-group">
						<label class="control-label" for="send_notification">Help if you need it:</label>
						<div class="controls">
							<label class="radio">
								<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"> <label>Show me tool tips to help</label>
							</label>
							<label class="radio">
								<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked> <label>I’m a pro and don’t need tool tips. Turn them off. </label>
							</label>
						</div>
					</div>
					<div class="save_preference_div"><a href="#" class="save_preferences">Save</a></div>
				</form>
			</div>
		</div>
	</div>
</div>
