<div id="hello_modal_new" class="hello_modal" style="height: 550px; position:absolute;  top:20px; display:none;">
	<div id="crossimg_hello"><a href="#" onclick="/*_kmq.push(['record', 'hello modal close X icon',{ 'SignedIn' : get_KMSignedIn()}]); _gaq.push(['_trackEvent', 'Hello', 'Clk_HelloModalCancelIcn', 'clicks on x icon on Hello modal']);*/ return hideModal('hello_modal_new', true);">X</a></div>
	<div class="men_img_b" align="center" style="padding-bottom: 4px; padding-top: 25px;">
		<img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/hello_model_new.png">
	</div>
	<a href="/auth/facebook" class="auth_provider_more auth_provider" onclick="/*_kmq.push(['record', 'hello main facebook connect button',{ 'SignedIn' : get_KMSignedIn()}]); _gaq.push(['_trackEvent', 'Hello', 'Clk_FBConnct', 'Click on Connect with Facebook Button']);*/ return false;" style="margin: 0px;padding-left: 6px;">
		<img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/hello/connect_fb.png" onmouseover="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/hello/connect_fb_roll.png'" onmouseout="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/hello/connect_fb.png'" /><br />	
	</a>
	<div class="signup_hello">
		or <a href="#" onclick="/*_kmq.push(['record', 'hello main signup w email text link',{ 'SignedIn' : get_KMSignedIn()}]); _gaq.push(['_trackEvent', 'Hello', 'Clk_SignUpwEmail', 'Click on Sign Up with your email address Text Link']);*/ hideModal('hello_modal_new',false); return <%= (current_user and current_user.is_guest_user) ? "guest_user_final_signup();" : "showSignUpForm();" %>">Sign Up with your email address</a>
	</div>
	<!-- to avoid SignIn option to be given to Guest user -->
	<% if !current_user %>
		<div class="exist">
			<a href="/" onclick="/*_kmq.push(['record', 'Login', {'Show Login Modal': 'hello main existing user text link', 'SignedIn' : get_KMSignedIn()}]); _gaq.push(['_trackEvent', 'Hello', 'Clk_ExstUser', 'Click on Existing User Text Link']);*/ hideModal('hello_modal_new',false);  return showModal('signin_modal');">Existing User? Sign In Here</a>
		</div>	
	<% end %>		
</div>
<% if session[:show_hello].present? %>
	<script type="text/javascript">makeModelCenter('hello_modal_new');</script>
<% end %>