<div id="my_offers_tab">
  	<div class="offer_section">
	  	 <div class="new_offer_left">
	  	 	<a href="#"><img src="/assets/version2/new_offer.png"></a>
	  	 </div>
	  	 <div class="new_offer_right">
	  	 		<!-- User Card Start-->
					<div class="user_wants_card ">
						<div class="user_card_heading">
							<div class="clip">
								<img src="/assets/version2/clip.png" >
							</div>
							<div class="item_title_card">Web design for your small
							business</div>
							<div class="item_city_card">San Francisco, Ca</div>
							<div class="item_distance_card">7 miles</div>
						</div>
						<div class="item_wants_image">
							<img src="/assets/version2/wants_image3.jpg" />
						</div>
						<div class="curve_left">
							<img src="/assets/version2/curve_left_white.png">
						</div>
						<div class="curve_right">
							<img src="/assets/version2/curve_right_white.png">
						</div>
						<div class="accept_offer">Accept Offer</div>
						<div class="remove_div">Remove</div>
						
					</div>
					<!-- User Card End-->
					<!-- User Card Start-->
					<div class="user_wants_card">
						<div class="user_card_heading">
						<div class="clip">
							<img src="/assets/version2/clip.png">
						</div>
						<div class="item_title_card">World class Banjo lessons</div>
						<div class="item_city_card">Santa Monica, CA</div>
						<div class="item_distance_card">.3 miles</div>
						</div>
						<div class="item_wants_image">
						<img src="/assets/version2/card_image_demo.png">
						</div>
						<div class="curve_left">
						<img src="/assets/version2/curve_left_white.png">
						</div>
						<div class="curve_right">
						<img src="/assets/version2/curve_right_white.png">
						</div>
						<div class="accept_offer">Accept Offer</div>
						<div class="remove_div">Remove</div>
					</div>
					<!-- User Card End-->
	  	 </div>
	</div>
	<div class="you_haves_section">
		<div class="you_haves_heading">
			You Haves
		</div>
		<div class="you_haves_content">
			<div class="you_haves_add_item">
				<a href="#"><img src="/assets/version2/add_item.png"></a>
			</div>
			<div class="you_haves_right">
				<div class="you_haves_wants_container">													
					 
					<!-- User Card Start-->
					<div class="user_wants_card">
						<div class="user_card_heading">
							<div class="clip">
								<img src="/assets/version2/clip.png" >
							</div>
							<div class="item_title_card">Web design for your small
							business</div>
							<div class="item_city_card">San Francisco, Ca</div>
							<div class="item_distance_card">7 miles</div>
						</div>
						<div class="item_wants_image">
							<img src="/assets/version2/wants_image3.jpg" />
						</div>
						<div class="curve_left">
							<img src="/assets/version2/curve_left_white.png">
						</div>
						<div class="curve_right">
							<img src="/assets/version2/curve_right_white.png">
						</div>
						<div class="add_comment"><a href="#"><img src="/assets/version2/add_comment.png" onmouseover="this.src='/assets/version2/add_comment_hover.png'" onmouseout="this.src='/assets/version2/add_comment.png'"></a></div>
						<div class="remove_div">Remove</div>
					</div>
					<!-- User Card End-->
					<!-- User Card Start-->
					<div class="user_wants_card">
						<div class="user_card_heading">
							<div class="clip">
								<img src="/assets/version2/clip.png" >
							</div>
							<div class="item_title_card">Web design for your small
							business</div>
							<div class="item_city_card">San Francisco, Ca</div>
							<div class="item_distance_card">7 miles</div>
						</div>
						<div class="item_wants_image">
							<img src="/assets/version2/wants_image3.jpg" />
						</div>
						<div class="curve_left">
							<img src="/assets/version2/curve_left_white.png">
						</div>
						<div class="curve_right">
							<img src="/assets/version2/curve_right_white.png">
						</div>
						<div class="add_comment"><a href="#"><img src="/assets/version2/add_comment.png" onmouseover="this.src='/assets/version2/add_comment_hover.png'" onmouseout="this.src='/assets/version2/add_comment.png'"></a></div>
						<div class="remove_div">Remove</div>
					</div>
					<!-- User Card End-->
					<!-- User Card Start-->
					<div class="user_wants_card">
						<div class="user_card_heading">
							<div class="clip">
								<img src="/assets/version2/clip.png" >
							</div>
							<div class="item_title_card">Web design for your small
							business</div>
							<div class="item_city_card">San Francisco, Ca</div>
							<div class="item_distance_card">7 miles</div>
						</div>
						<div class="item_wants_image">
							<img src="/assets/version2/wants_image3.jpg" />
						</div>
						<div class="curve_left">
							<img src="/assets/version2/curve_left_white.png">
						</div>
						<div class="curve_right">
							<img src="/assets/version2/curve_right_white.png">
						</div>
						<div class="add_comment"><a href="#"><img src="/assets/version2/add_comment.png" onmouseover="this.src='/assets/version2/add_comment_hover.png'" onmouseout="this.src='/assets/version2/add_comment.png'"></a></div>
						<div class="remove_div">Remove</div>
					</div>
					<!-- User Card End-->
					<!-- User Card Start-->
					<div class="user_wants_card">
						<div class="user_card_heading">
							<div class="clip">
								<img src="/assets/version2/clip.png" >
							</div>
							<div class="item_title_card">Web design for your small
							business</div>
							<div class="item_city_card">San Francisco, Ca</div>
							<div class="item_distance_card">7 miles</div>
						</div>
						<div class="item_wants_image">
							<img src="/assets/version2/wants_image3.jpg" />
						</div>
						<div class="curve_left">
							<img src="/assets/version2/curve_left_white.png">
						</div>
						<div class="curve_right">
							<img src="/assets/version2/curve_right_white.png">
						</div>
					</div>
					<!-- User Card End-->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- script for my offers have hover start -->	
		<script type="text/javascript">
		$(document).ready(function(){
			$(".you_haves_wants_container .user_wants_card").children(".remove_div").hide();
			$(".you_haves_wants_container .user_wants_card").children(".add_comment").hide();

			$(".you_haves_wants_container .user_wants_card").hover(function(){
				 
			$(this).children(".remove_div").show();
			$(this).children(".add_comment").show();

			},function(){
			$(".you_haves_wants_container .user_wants_card").children(".remove_div").hide();
			$(".you_haves_wants_container .user_wants_card").children(".add_comment").hide();

			});		 
		})	 
		</script>
<!-- script for my offers have hover ends-->

<!-- script for my offers > offers hover start -->
		<script type="text/javascript">
		$(document).ready(function(){
			$(".new_offer_right").children(".user_wants_card").children(".accept_offer").hide();
			$(".new_offer_right").children(".user_wants_card").children(".remove_div").hide();
			
			$(".new_offer_right").children(".user_wants_card").hover(function(){
				 
			$(this).children(".accept_offer").show();
			$(this).children(".remove_div").show();

			},function(){
			$(".new_offer_right").children(".user_wants_card").children(".accept_offer").hide();
			$(".new_offer_right").children(".user_wants_card").children(".remove_div").hide();

			});
			 
			 
		})
		
		</script>
<!-- script for my offers > hover Ends -->