<div id="tradeyacarousel" class="tradeyacarousel">
	<div class="tyheading_right" style="display: none;">
		<ul class="pagination">
			<li><a id="tradeya_pag_1" href="#0">1</a></li>
			<li><a id="tradeya_pag_2" href="#1">2</a></li>
			<li><a id="tradeya_pag_3" href="#2">3</a></li>
			<li><a id="tradeya_pag_4" href="#3">4</a></li>
			<li><a id="tradeya_pag_5" href="#4">5</a></li>
		</ul>
	</div>
	<div id = "tradeyacarousel_tradeyas" class="slides_container">
		<%= render 'home/tradeyas' %>
	</div>
</div>
<div id = "tradeyacarousel_panel" class="tycarousel_right">
	<%= render 'shared/tradeyas_right_pagination' %>
</div>
