<div class="tab-pane" id="verification_tab">
  <div class="edit_profile_controls">
    <div class="control-group">
      <div class="edit_login_text">Social Verification</div>
      <hr class="password_control_group" />

      <!-- <label class="control-label" for="inputfname">Social Connect</label> -->
      <div class="controls veri_images" id="veri_images">
        <% if current_user.facebook_authenticated? %>
          <img src="http://d3md9h2ro575fr.cloudfront.net/images/login_fb_on.png">
        <% else %>
          <a href="/auth/facebook?add_verification=true"><img src="http://d3md9h2ro575fr.cloudfront.net/images/login_fb_off.png" onmouseover="this.src='http://d3md9h2ro575fr.cloudfront.net/images/login_fb_on.png'" onmouseout="this.src='http://d3md9h2ro575fr.cloudfront.net/images/login_fb_off.png'" onclick="_gaq.push(['_trackEvent', 'User Card', 'clk_Fb_verify', 'Click Fb icon to Verify from Edit Profile']);mixpanel.track_links('#veri_images a', 'Click Fb icon to Verify from Edit Profile');"></a>
        <% end %>

        <% if current_user.twitter_authenticated? %>
          <img src="http://d3md9h2ro575fr.cloudfront.net/images/login_tw_on.png">
        <% else %>
          <a href="/auth/twitter?add_verification=true"><img src="http://d3md9h2ro575fr.cloudfront.net/images/login_tw_off.png" onmouseover="this.src='http://d3md9h2ro575fr.cloudfront.net/images/login_tw_on.png'" onmouseout="this.src='http://d3md9h2ro575fr.cloudfront.net/images/login_tw_off.png'" onclick="_gaq.push(['_trackEvent', 'User Card', 'clk_Twtr_verify', 'Click Twitter icon to Verify from Edit Profile']);mixpanel.track_links('#veri_images a', 'Click Twitter icon to Verify from Edit Profile');"></a>
        <% end %>
        <!-- <a href="#"><img src="http://d3md9h2ro575fr.cloudfront.net/images/login_google_off.png" onmouseover="this.src='http://d3md9h2ro575fr.cloudfront.net/images/login_google_on.png'" onmouseout="this.src='http://d3md9h2ro575fr.cloudfront.net/images/login_google_off.png'" ></a> -->
        <div class="clear"></div>
        <p class="c_input share_text">
          <span class="text_under_input social_text">This is the easiest way to gain trust in the TradeYa community.</span>
        </p>
        <div class="clear"></div>
      </div>
    </div>
    <br/>
    <div class="control-group">
      <div class="edit_login_text">Phone Number Verification</div>
      <hr class="password_control_group" />

      <label class="control-label phone_number_label" for="inputfname">Phone Number</label>
      <div class="controls">
        <input type="text" name="phone" id="phone_number" class="e_input_phone">
        <span class="ph_verify">Verify</span>

        <span  class="ph_no_remove"><a href="#remove_ph_no" data-toggle="modal">Remove</a> </span>

        <span class="ph_verify_submit">Submit</span>
        <span style="width:100px">
          <input type="text" class="confirm_box" id="verification_code" placeholder="Enter Pin">
        </span>

        <span class="pin_resend" ><a href="#resend_modal" data-toggle="modal">Resend</a> </span>
        <div class="clear"></div>
      </div>

      <div class="controls" id="verification_options">
        <label class="radio gender_list">
          <input id="verify_via_call" type="radio" name="verification_mode" value="verify_via_call" onclick="needToConfirm=true"><label for="verify_via_call">Call</label>
        </label>
        <label class="radio gender_list">
          <input checked="checked" id="verify_via_sms" type="radio" name="verification_mode" value="verify_via_sms" onclick="needToConfirm=true"><label for="verify_via_sms">SMS</label>
        </label>
        <div class="clear"></div>
        <div class="text_under_input social_text">This will only be shared once you have confirmed a TradeYa so they can contact you.</div>
      </div>
    </div>
  </div>
</div>
<!-- script for phone no verify -->
<script type="text/javascript">
  $(function(){
    <%if @user.unverified_phone_number.present?%>
      $(".pin_resend").show();
      $(".ph_verify_submit").show();
      $(".confirm_box").show();
      $(".ph_verify").hide();
      $(".ph_no_remove").hide();
      $("#verification_options").hide();
      $('#phone_number').val("<%=@user.unverified_phone_number.phone_number%>");
    <%elsif @user.verified_phone_number.present?%>
      $(".pin_resend").hide();
      $(".ph_verify_submit").hide();
      $(".confirm_box").hide();
      $(".ph_verify").hide();
      $(".ph_no_remove").show();
      $("#verification_options").hide();
      $('#phone_number').val("<%=@user.verified_phone_number.phone_number%>");
      $('#phone_number').attr('disabled','disabled');
    <%else%>
      $(".ph_no_remove").hide();
      $(".pin_resend").hide();
      $(".ph_verify_submit").hide();
      $(".confirm_box").hide();
    <%end%>

    $(".ph_verify").click(function(){
      if ($('#verify_via_call').is(':checked'))
      {
        verifyViaSMS();
      }
      else
      {
        verifyViaSMS();
      }
    });

    $(".pin_resend").click(function(){
      verifyViaSMS();
    });

    $(".ph_verify_submit").click(function(){
      verifyPhoneNumber();
    });

    $("#remove_phone_verification").click(function(){
      remove_number_verification($('#phone_number').val());
    });

    $("#verification_code").keypress(function(e){
      if(e.keyCode == 13){
        verifyPhoneNumber();
      }
    });
  
  }); 
</script>
<!-- script for phone no verify -->