<!--Content Start -->
			<div class="container">
				<div class="span13 item_middle_section">
					<div class="center_content">
						<div class="browse_items_wrapper">
							<div class="browse_heading">
							<span>Results For</span><span class="result_span">
							  <!-- "Stuff -->
							  "All Categories"
						  </span>
							<div class="pull-right">
								  <ul class="sort_tab">
								  	<li><a class="act" href="#">Items</a></li>
								  	<li><a href="#">Users</a></li>
								  	<li><a href="#" class="dropdown-toggle"
       										data-toggle="dropdown">Date Listed <img src="/assets/version2/sort_arrow.png"></a>
       										<ul class="dropdown-menu">
       											<li><a href="#">Distance</a></li>
								  				<li><a href="#">Most Offered</a></li>
								  				<li><a href="#">Date Listed</a></li>

       										</ul>
								  	</li>
								  </ul>

							 </div>
							</div>
							<div class="browse_item_content">
								<div class="wants_container">
									<!-- User Card Start-->
									<div class="user_wants_card">
										<div class="user_card_heading">
											<div class="clip">
												<img src="/assets/version2/clip.png" >
											</div>
											<div class="item_title_card">World class Banjo lessons</div>
											<div class="item_city_card">Santa Monica, CA</div>
											<div class="item_distance_card">.3 miles</div>
										</div>
										<div class="item_wants_image">
											<img src="/assets/version2/card_image_demo.png" />
										</div>
										<div class="curve_left">
											<img src="/assets/version2/left_curve.png">
										</div>
										<div class="curve_right">
											<img src="/assets/version2/right_curve.png">
										</div>
									</div>
									<!-- User Card End -->
									<!-- User Card Start-->
									<div class="user_wants_card">
										<div class="user_card_heading">
											<div class="clip">
												<img src="/assets/version2/clip.png" >
											</div>
											<div class="item_title_card">Beats by Dre Headphones</div>
											<div class="item_city_card">Los Angeles, Ca</div>
											<div class="item_distance_card">3.2 miles</div>
										</div>
										<div class="item_wants_image">
											<img src="/assets/version2/wants_image2.jpg" />
										</div>
										<div class="curve_left">
											<img src="/assets/version2/left_curve.png">
										</div>
										<div class="curve_right">
											<img src="/assets/version2/right_curve.png">
										</div>
									</div>
									<!-- User Card End-->
									<!-- User Card Start-->
									<div class="user_wants_card">
										<div class="user_card_heading">
											<div class="clip">
												<img src="/assets/version2/clip.png" >
											</div>
											<div class="item_title_card">Web design for your small
											business</div>
											<div class="item_city_card">San Francisco, Ca</div>
											<div class="item_distance_card">7 miles</div>
										</div>
										<div class="item_wants_image">
											<img src="/assets/version2/wants_image3.jpg" />
										</div>
										<div class="curve_left">
											<img src="/assets/version2/left_curve.png">
										</div>
										<div class="curve_right">
											<img src="/assets/version2/right_curve.png">
										</div>
									</div>
									<!-- User Card End-->
									<!-- User Card Start-->
									<div class="user_wants_card">
										<div class="user_card_heading">
											<div class="clip">
												<img src="/assets/version2/clip.png" >
											</div>
											<div class="item_title_card">Beats by Dre Headphones</div>
											<div class="item_city_card">Los Angeles, Ca</div>
											<div class="item_distance_card">3.2 miles</div>
										</div>
										<div class="item_wants_image">
											<img src="/assets/version2/wants_image2.jpg" />
										</div>
										<div class="curve_left">
											<img src="/assets/version2/left_curve.png">
										</div>
										<div class="curve_right">
											<img src="/assets/version2/right_curve.png">
										</div>
									</div>
									<!-- User Card End-->
									<!-- User Card Start-->
									<div class="user_wants_card">
										<div class="user_card_heading">
											<div class="clip">
												<img src="/assets/version2/clip.png" >
											</div>
											<div class="item_title_card">Web design for your small
												business</div>
											<div class="item_city_card">San Francisco, Ca</div>
											<div class="item_distance_card">7 miles</div>
										</div>
										<div class="item_wants_image">
											<img src="/assets/version2/wants_image3.jpg" />
										</div>
										<div class="curve_left">
											<img src="/assets/version2/left_curve.png">
										</div>
										<div class="curve_right">
											<img src="/assets/version2/right_curve.png">
										</div>
									</div>
									<!-- User Card End-->

									<!-- User Card Start-->
									<div class="user_wants_card">
										<div class="user_card_heading">
											<div class="clip">
												<img src="/assets/version2/clip.png" >
											</div>
											<div class="item_title_card">Web design for your small
												business
											</div>
											<div class="item_city_card">San Francisco, Ca</div>
											<div class="item_distance_card">7 miles</div>
										</div>
										<div class="item_wants_image">
											<img src="/assets/version2/wants_image3.jpg" />
										</div>
										<div class="curve_left">
											<img src="/assets/version2/left_curve.png">
										</div>
										<div class="curve_right">
											<img src="/assets/version2/right_curve.png">
										</div>
									</div>
									<!-- User Card End-->
									<!-- User Card Start-->
									<div class="user_wants_card">
										<div class="user_card_heading">
											<div class="clip">
												<img src="/assets/version2/clip.png" >
											</div>
											<div class="item_title_card">Web design for your small
												business</div>
											<div class="item_city_card">San Francisco, Ca</div>
											<div class="item_distance_card">7 miles</div>
										</div>
										<div class="item_wants_image">
											<img src="/assets/version2/wants_image3.jpg" />
										</div>
										<div class="curve_left">
											<img src="/assets/version2/left_curve.png">
										</div>
										<div class="curve_right">
											<img src="/assets/version2/right_curve.png">
										</div>
									</div>
									<!-- User Card End-->
									<!-- User Card Start-->
									<div class="user_wants_card">
										<div class="user_card_heading">
											<div class="clip">
												<img src="/assets/version2/clip.png" >
											</div>
											<div class="item_title_card">Web design for your small
												business</div>
											<div class="item_city_card">San Francisco, Ca</div>
											<div class="item_distance_card">7 miles</div>
										</div>
										<div class="item_wants_image">
											<img src="/assets/version2/wants_image3.jpg" />
										</div>
										<div class="curve_left">
											<img src="/assets/version2/left_curve.png">
										</div>
										<div class="curve_right">
											<img src="/assets/version2/right_curve.png">
										</div>
									</div>
									<!-- User Card End-->
									<!-- User Card Start-->
									<div class="user_wants_card">
										<div class="user_card_heading">
											<div class="clip">
												<img src="/assets/version2/clip.png" >
											</div>
											<div class="item_title_card">Web design for your small
											business</div>
											<div class="item_city_card">San Francisco, Ca</div>
											<div class="item_distance_card">7 miles</div>
										</div>
										<div class="item_wants_image">
											<img src="/assets/version2/wants_image3.jpg" />
										</div>
										<div class="curve_left">
											<img src="/assets/version2/left_curve.png">
										</div>
										<div class="curve_right">
											<img src="/assets/version2/right_curve.png">
										</div>
									</div>
									<!-- User Card End-->
									<!-- User Card Start-->
									<div class="user_wants_card">
										<div class="user_card_heading">
											<div class="clip">
												<img src="/assets/version2/clip.png" >
											</div>
											<div class="item_title_card">Web design for your small
											business</div>
											<div class="item_city_card">San Francisco, Ca</div>
											<div class="item_distance_card">7 miles</div>
										</div>
										<div class="item_wants_image">
											<img src="/assets/version2/wants_image3.jpg" />
										</div>
										<div class="curve_left">
											<img src="/assets/version2/left_curve.png">
										</div>
										<div class="curve_right">
											<img src="/assets/version2/right_curve.png">
										</div>
									</div>
									<!-- User Card End-->
									<!-- User Card Start-->
									<div class="user_wants_card">
										<div class="user_card_heading">
											<div class="clip">
												<img src="/assets/version2/clip.png" >
											</div>
											<div class="item_title_card">Web design for your small
											business</div>
											<div class="item_city_card">San Francisco, Ca</div>
											<div class="item_distance_card">7 miles</div>
										</div>
										<div class="item_wants_image">
											<img src="/assets/version2/wants_image3.jpg" />
										</div>
										<div class="curve_left">
											<img src="/assets/version2/left_curve.png">
										</div>
										<div class="curve_right">
											<img src="/assets/version2/right_curve.png">
										</div>
									</div>
									<!-- User Card End-->
									<!-- User Card Start-->
									<div class="user_wants_card">
										<div class="user_card_heading">
											<div class="clip">
												<img src="/assets/version2/clip.png" >
											</div>
											<div class="item_title_card">Web design for your small
											business</div>
											<div class="item_city_card">San Francisco, Ca</div>
											<div class="item_distance_card">7 miles</div>
										</div>
										<div class="item_wants_image">
											<img src="/assets/version2/wants_image3.jpg" />
										</div>
										<div class="curve_left">
											<img src="/assets/version2/left_curve.png">
										</div>
										<div class="curve_right">
											<img src="/assets/version2/right_curve.png">
										</div>
									</div>
									<!-- User Card End-->
									<!-- User Card Start-->
									<div class="user_wants_card">
										<div class="user_card_heading">
											<div class="clip">
												<img src="/assets/version2/clip.png" >
											</div>
											<div class="item_title_card">Web design for your small
											business</div>
											<div class="item_city_card">San Francisco, Ca</div>
											<div class="item_distance_card">7 miles</div>
										</div>
										<div class="item_wants_image">
											<img src="/assets/version2/wants_image3.jpg" />
										</div>
										<div class="curve_left">
											<img src="/assets/version2/left_curve.png">
										</div>
										<div class="curve_right">
											<img src="/assets/version2/right_curve.png">
										</div>
									</div>
									<!-- User Card End-->
								</div>

							</div>
						</div>
						 
					</div>
				 
				</div>
			<!-- Content End