<!-- Content Start -->
<div class="container">
	<div class="span10 item_middle_section">
		<div class="center_content">
			<div class="profile_main_wrapper ">
				<div class="profile_user_card">
					<div class="user_card_right">
						<div class="user_card_inner">
							<div class="card_image">
								<img src="/assets/version2/trader_image_small.jpg">
							</div>
							<div class="trader_info_wrapper">
								<div class="trader_info">
									<p  class="trader_name">Alisa May</p>
									<p  class="trader_location">Santa Monica, CA</p>
									<p  class="trader_distance">3 Miles from you</p>
								</div>
						</div>
						<div class="user_verified center">
							<p>Verified by</p>
							<div class="icons">
								<a href="#"><img src="assets/version2/icon_fb.png"></a>
								<a href="#"><img src="assets/version2/icon_pin.png"></a>
								<a href="#"><img src="assets/version2/icon_twitter.png"></a>
							</div>
						</div>
						<div class="card_have_wants">
							<div class="hw_option pad_lr_30">
								<p class="hw_count center pr">14</p>
								<p class="hw_heading center pr2">Haves</p>
							</div>
							<div class="hw_option last pad_lr_30">
								<p class="hw_count center pr">25</p>
								<p class="hw_heading center pr2">Wants</p>
							</div>
						</div>
						<div class="follow">
							<p>Follow</p>
						</div>
					</div>
				</div>
			</div>
			<div class="profile_rating_wrapper">
				<div class="profile_user_images">
					<div class="profile_large_image">
						<img src="assets/version2/profile_large.jpg">
					</div>
					<div class="profile_image_thumbs">
						<img src="/assets/version2/profile_thumb1.jpg">
						<img src="/assets/version2/profile_thumb2.jpg">
						<img src="/assets/version2/profile_thumb3.jpg">
					</div>
				</div>
				<div class="profile_rating_section">
					<div class="rating_text">
						I live and breathe gardening. I love to watch my dog run around in the California sun chasing my two year old daughter.
					<div>
					<div class="rating_figures_wrapper">
						<div class="rating_circle green">
							<div class="o_rating"><img src="/assets/version2/overall_rating.png">
							</div>
							A
						</div>
						<div class="rating_pyramid">
							<div class="pointer"><img src="/assets/version2/pointer.png"></div>
							 <p class="block_a">A</p>
							 <p class="block_b">b</p>
							 <p class="block_c">c</p>
							 <p class="block_d">d</p>
							 <p class="block_e">e</p>
							 <p class="block_f">f</p>
						</div>
						<div class="rating_basis_wrapper">
							<div class="basis_small_text">
								Rating Based On:
							</div>
							<div class="basis_section_outer">
								<div class="basis_section_inner_top">
									<div class="basis_part1">
										<div class="basis_count">
										<p class="num">2</p>
										<p class="num_text ">Reviews</p>
									</div>
								</div> 
									<div class="basis_part2">
										<div class="basis_count">
										<p class="num ">5</p>
										<p class="num_text ">Trades</p>
										</div>
									</div> 
								</div>
								<div class="basis_section_inner_bottom">
									<div class="basis_part1">
										<div class="basis_count">
										<p class="basis_big_text">Item As Described</p>
										<p class="rating_circle_small green">A</p>
										</div>
									</div>
									<div class="basis_part2">
										<div class="basis_count">
										<p class="basis_big_text">Communication</p>
										<p class="rating_circle_small green_low">A-</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="profile_since">Member Since:  December-23-12</div>
		<div class="profile_tab_wrapper">
			<ul class="nav nav-tabs profile_tabs" id="profile_tab">
				<li ><a href="#" data-toggle="tab">Haves</a></li>
				<li ><a href="#wants_tab" data-toggle="tab">Wants</a></li>
				<li><a href="#">Likes</a></li>
				<li><a href="#">Past Trades</a></li>
				<li><a href="#">Reviews</a></li>
				<li><a href="#following_tab" data-toggle="tab" >Following</a></li>
			</ul>
			<div class="tab_search">
				<input type="text" name="search">
			</div>
		</div>
	</div>
	<!-- tab content start -->
	<div class="tab-content">
		<!-- Wants tab content start -->
		<div id="wants_tab" class="tab-pane fade">
			<!-- User Card Start-->
			<div class="user_wants_card">
				<div class="user_card_heading">
					<div class="clip">
						<img src="/assets/version2/clip.png" >
					</div>
					<div class="item_title_card">World class Banjo lessons</div>
					<div class="item_city_card">Santa Monica, CA</div>
					<div class="item_distance_card">.3 miles</div>
				</div>
				<div class="item_wants_image">
					<img src="/assets/version2/card_image_demo.png" />
				</div>
				<div class="curve_left">
					<img src="/assets/version2/left_curve.png">
				</div>
				<div class="curve_right">
					<img src="/assets/version2/right_curve.png">
				</div>
			</div>
			<!-- User Card End -->
			<!-- User Card Start-->
			<div class="user_wants_card">
				<div class="user_card_heading">
					<div class="clip">
						<img src="/assets/version2/clip.png" >
					</div>
					<div class="item_title_card">Beats by Dre Headphones</div>
					<div class="item_city_card">Los Angeles, Ca</div>
					<div class="item_distance_card">3.2 miles</div>
				</div>
				<div class="item_wants_image">
					<img src="/assets/version2/wants_image2.jpg" />
				</div>
				<div class="curve_left">
					<img src="/assets/version2/left_curve.png">
				</div>
				<div class="curve_right">
					<img src="/assets/version2/right_curve.png">
				</div>
			</div>
			<!-- User Card End-->
			<!-- User Card Start-->
			<div class="user_wants_card">
				<div class="user_card_heading">
					<div class="clip">
						<img src="/assets/version2/clip.png" >
					</div>
					<div class="item_title_card">Web design for your small business</div>
					<div class="item_city_card">San Francisco, Ca</div>
					<div class="item_distance_card">7 miles</div>
				</div>
				<div class="item_wants_image">
					<img src="/assets/version2/wants_image3.jpg" />
				</div>
				<div class="curve_left">
					<img src="/assets/version2/left_curve.png">
				</div>
				<div class="curve_right">
					<img src="/assets/version2/right_curve.png">
				</div>
			</div>
			<!-- User Card End-->
			<!-- User Card Start-->
			<div class="user_wants_card">
				<div class="user_card_heading">
					<div class="clip">
						<img src="/assets/version2/clip.png" >
					</div>
					<div class="item_title_card">Beats by Dre Headphones</div>
					<div class="item_city_card">Los Angeles, Ca</div>
					<div class="item_distance_card">3.2 miles</div>
				</div>
				<div class="item_wants_image">
					<img src="/assets/version2/wants_image2.jpg" />
				</div>
				<div class="curve_left">
					<img src="/assets/version2/left_curve.png">
				</div>
				<div class="curve_right">
					<img src="/assets/version2/right_curve.png">
				</div>
			</div>
			<!-- User Card End-->
			<!-- User Card Start-->
			<div class="user_wants_card">
				<div class="user_card_heading">
					<div class="clip">
						<img src="/assets/version2/clip.png" >
					</div>
					<div class="item_title_card">Web design for your small business</div>
					<div class="item_city_card">San Francisco, Ca</div>
					<div class="item_distance_card">7 miles</div>
				</div>
				<div class="item_wants_image">
					<img src="/assets/version2/wants_image3.jpg" />
				</div>
				<div class="curve_left">
					<img src="/assets/version2/left_curve.png">
				</div>
				<div class="curve_right">
					<img src="/assets/version2/right_curve.png">
				</div>
			</div>
			<!-- User Card End-->
		</div>
		<!-- Wants tab content End-->
		<!-- Following tab content start -->
		<div id="following_tab" class="tab-pane fade">
			<div class="user_following_card">
				<div class="following_big_image">
					<img src="/assets/version2/following_img1.jpg">
				</div>
				<div class="following_heading_wrapper">
					<div class="follow_head_left">
						<p class="u_name">Michael Cosmo</p>
						<p class="u_place"> Santa Monica</p>
					</div>
					<div class="star_section_right">
						 <div class="star_rating"></div>
					</div>
				</div>
				<div class="following_thumbs_wrapper">
					<img src="/assets/version2/follow_thumb1.jpg">
					<img src="/assets/version2/follow_thumb2.jpg">
					<img src="/assets/version2/follow_thumb3.jpg">
					<img src="/assets/version2/follow_thumb4.jpg">
					<img src="/assets/version2/follow_thumb5.jpg">
					<img src="/assets/version2/follow_thumb6.jpg">
				</div>
				<div class="follow_shadow">
					<img src="/assets/version2/follow_card_shadow.png">
				</div>
			</div>
			<div class="user_following_card">
				<div class="following_big_image">
					<img src="/assets/version2/following_img1.jpg">
				</div>
				<div class="following_heading_wrapper">
					<div class="follow_head_left">
						<p class="u_name">Michael Cosmo</p>
						<p class="u_place"> Santa Monica</p>
					</div>
					<div class="star_section_right">
						 <div class="star_rating"></div>
					</div>
				</div>
				<div class="following_thumbs_wrapper">
					<img src="/assets/version2/follow_thumb1.jpg">
					<img src="/assets/version2/follow_thumb2.jpg">
					<img src="/assets/version2/follow_thumb3.jpg">
					<img src="/assets/version2/follow_thumb4.jpg">
					<img src="/assets/version2/follow_thumb5.jpg">
					<img src="/assets/version2/follow_thumb6.jpg">
				</div>
				<div class="follow_shadow">
					<img src="/assets/version2/follow_card_shadow.png">
				</div>
			</div>
			<div class="user_following_card">
				<div class="following_big_image">
					<img src="/assets/version2/following_img1.jpg">
				</div>
				<div class="following_heading_wrapper">
					<div class="follow_head_left">
						<p class="u_name">Michael Cosmo</p>
						<p class="u_place"> Santa Monica</p>
					</div>
					<div class="star_section_right">
						 <div class="star_rating"></div>
					</div>
				</div>
				<div class="following_thumbs_wrapper">
					<img src="/assets/version2/follow_thumb1.jpg">
					<img src="/assets/version2/follow_thumb2.jpg">
					<img src="/assets/version2/follow_thumb3.jpg">
					<img src="/assets/version2/follow_thumb4.jpg">
					<img src="/assets/version2/follow_thumb5.jpg">
					<img src="/assets/version2/follow_thumb6.jpg">
				</div>
				<div class="follow_shadow">
					<img src="/assets/version2/follow_card_shadow.png">
				</div>
			</div>
			<div class="user_following_card">
				<div class="following_big_image">
					<img src="/assets/version2/following_img1.jpg">
				</div>
				<div class="following_heading_wrapper">
					<div class="follow_head_left">
						<p class="u_name">Michael Cosmo</p>
						<p class="u_place"> Santa Monica</p>
					</div>
					<div class="star_section_right">
						 <div class="star_rating"></div>
					</div>
				</div>
				<div class="following_thumbs_wrapper">
					<img src="/assets/version2/follow_thumb1.jpg">
					<img src="/assets/version2/follow_thumb2.jpg">
					<img src="/assets/version2/follow_thumb3.jpg">
					<img src="/assets/version2/follow_thumb4.jpg">
					<img src="/assets/version2/follow_thumb5.jpg">
					<img src="/assets/version2/follow_thumb6.jpg">
				</div>
				<div class="follow_shadow">
					<img src="/assets/version2/follow_card_shadow.png">
				</div>
			</div>
			<div class="user_following_card">
				<div class="following_big_image">
					<img src="/assets/version2/following_img1.jpg">
				</div>
				<div class="following_heading_wrapper">
					<div class="follow_head_left">
						<p class="u_name">Michael Cosmo</p>
						<p class="u_place"> Santa Monica</p>
					</div>
					<div class="star_section_right">
						 <div class="star_rating"></div>
					</div>
				</div>
				<div class="following_thumbs_wrapper">
					<img src="/assets/version2/follow_thumb1.jpg">
					<img src="/assets/version2/follow_thumb2.jpg">
					<img src="/assets/version2/follow_thumb3.jpg">
					<img src="/assets/version2/follow_thumb4.jpg">
					<img src="/assets/version2/follow_thumb5.jpg">
					<img src="/assets/version2/follow_thumb6.jpg">
				</div>
				<div class="follow_shadow">
					<img src="/assets/version2/follow_card_shadow.png">
				</div>
			</div>
		</div>
		<!--Following tab content End -->
	</div>
	<!-- tab content ends -->
</div>
<!-- Content End -->
<script>
$(function () {
	$('#profile_tab a[href="#wants_tab"]').tab('show');
	})
	$('.star_rating').raty();
</script>
