<div class="container responsive_width_trade">
	<div class="upper_container">
		<div class="upper_left_div span6">
			<div class="user_upper_left">
				<div class="user_image_left"><img src="http://d3md9h2ro575fr.cloudfront.net/images/user_thumb1.jpg"></div>
				<div class="user_name_left">Gezel</div>
			</div>
			<div class="upper_left_trade_items">
				<!-- <div class="trade_items_list"><img src="http://d3md9h2ro575fr.cloudfront.net/images/trade_image1.png"></div>
				<div class="trade_item_quantity">
					Quantity<br>
					<input type="text"> <span>Night</span>
				</div> -->
				<div class="want_nothing_text">
					<div class="want_nothing_head">You want Jareds Item...</div>
					<div class="want_nothing_body">We’ve sent him a message to check out your stuff to see if theres anything he wants to trade.</div>
					<div>In the meantime you can drag your items here as options for him to choose from.</div>
				</div>
			</div>
		</div>
		<div class="upper_mid_div span2">
			<div class="trade_image_icon"><img src="http://d3md9h2ro575fr.cloudfront.net/images/trade_icon_blue.png"></div>
			<!-- <div class="nothing_button"><a href="#">Nothing I Want</a></div> -->
			<div class="next_trade_button"><a href="#trade_not_happening" data-toggle="modal" aria-labelledby="myModalLabel">Trade</a></div>
		</div>
		<div class="upper_right_div span6 pull-left">
			<div class="user_upper_right">
				<div class="user_image_left"><img src="http://d3md9h2ro575fr.cloudfront.net/images/user_thumb2.jpg"></div>
				<div class="user_name_left">Jared</div>
			</div>
			<div class="upper_left_trade_items">
<!-- 				<div class="trade_items_list_right">
					<div class="trade_item_card"><img src="http://d3md9h2ro575fr.cloudfront.net/images/trade_image1.png"></div>
					<div class="trade_detail_div">Trade
						<div>When you’re ready click on the Trade button on the left.</div>
						<div class="ask_question"><a href="#">Ask a Question</a></div>
					</div>
				</div>
 -->				
 				<div class="want_nothing_text">
					<div class="want_nothing_head">Jared wants your item!</div>
					<div class="want_nothing_body">Look below in Jared’s haves and see if theres anything you want of his. If you find something then drag and drop it in this box.</div>
					<div>Don’t see anything? Click on the Nothing I Want button and ask for more items.</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="lower_container">
		<div class="lower_section_tabs">
			<ul class="nav nav-tabs">
				<li><a href="#my_haves_tab" data-toggle="tab">My Haves</a></li>
				<li><a href="#communication_tab" data-toggle="tab">Communicate</a></li>
				<li><a href="#trader_haves_tab" data-toggle="tab">Jared's Haves</a></li>
			</ul>
			<div class="tab-content">
			  <div class="tab-pane" id="my_haves_tab">my_haves_tab</div>
			  <div class="tab-pane active" id="communication_tab">
			  	<div class="communication_div_left">
			  		<div class="myname_div">Gezel R.<span><img src=""></span></div>
			  		<div class="message_list">
			  			<div class="user_image_left"><img src="http://d3md9h2ro575fr.cloudfront.net/images/user_thumb1.jpg"></div>
			  			<div class="msg_user_name">Jared K.</div>
			  			<div class="msg_user_detail">Hey, Can you please tell me more about your suftboard? How many times have you ridden it? </div>
			  		</div>
			  		<div class="message_list">
			  			<div class="message_time">3 days ago</div>
			  			<div class="user_image_left"><img src="http://d3md9h2ro575fr.cloudfront.net/images/user_thumb1.jpg"></div>
			  			<div class="msg_user_name">Gezel R.</div>
			  			<div class="msg_user_detail">Hey, Can you please tell me more about your suftboard? How many times have you ridden it? </div>
			  		</div>
			  		<div class="message_list">
			  			<div class="message_time">8:00 am</div>
			  			<div class="user_image_left"><img src="http://d3md9h2ro575fr.cloudfront.net/images/user_thumb1.jpg"></div>
			  			<div class="msg_user_name">Jared K.</div>
			  			<div class="msg_user_detail">Hey, Can you please tell me more about your suftboard? How many times have you ridden it? </div>
			  		</div>
			  		<div class="textarea_wrapper_trade">
							<!-- <textarea class="chat_input" placeholder="Enter your Message..."></textarea> -->
							<textarea class="chat_input" id="sendNewTextArea" name="body" placeholder="Write a reply..."></textarea>
							<div class="chat_input_options">
								<span class="file_wrapper">
									<!-- <input type="file" class="chat_files" id="photo"> -->
									<input class="multifile chat_files" id="newMessageAttachment" name="attach[]" type="file">
									<span class="upload_button">Add Files</span>
								</span>
								<!-- <span class="crossimage"></span> -->
								<!-- <input type="submit" value="Send" class="chat_send"> -->
								<input class="chat_send" id="send_new_msg_button" name="new_message" type="submit" value="Send">
							</div>
						</div>
			  	</div>
			  	<div class="communication_div_right">
			  		<div class="communication_right_heading"><img src="http://d3md9h2ro575fr.cloudfront.net/images/agreed_terms.png">Agreed Terms</div>
			  		<textarea class="terms_textarea" placeholder="Enter trade term here..."></textarea>
			  		<div class="agreed_terms_trade">
							<ol>
								<li><span>Jared can stay for (3) nights in the oak room. In exchange he is paying for shipping.</span><img src="http://d3md9h2ro575fr.cloudfront.net/images/dash_cross.png"></li>
								<li><span>Jared can stay for (3) nights in the oak room. In exchange he is paying for shipping.</span></li>
								<li><span>Jared can stay for (3) nights in the oak room. In exchange he is paying for shipping.</span></li>
								<li><span>Jared can stay for (3) nights in the oak room. In exchange he is paying for shipping.</span></li>
							</ol>	
						</div>
					</div>
			  	<div class="clear"></div>
			  </div>
			  <div class="tab-pane" id="trader_haves_tab">trader_haves_tab</div>
			</div>

		</div>

	</div>
</div>
<div id="modal_traded_item" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
	<div class="modal_cross"><a href="#" data-dismiss="modal" aria-hidden="true">X</a></div>
	<div class="traded_item_left"><img src="http://d3md9h2ro575fr.cloudfront.net/images/trade_image1.png"></div>
	<div class="traded_item_right">
		<div class="traded_item_heading">Item No Longer Available</div>
		<div class="traded_item_subheading">Jared just traded this item with another user.</div>
		<div class="trade_something_else"><a href="#">Trade Something Else</a></div>
		<div class="message_trader"><a href="#">Message Jared</a></div>
		<div class="cancel_trade"><a href="#">Cancel Trade</a></div>
	</div>
</div>
<div id="trade_not_happening" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
	<div class="modal_cross"><a href="#" data-dismiss="modal" aria-hidden="true">X</a></div>
	<div class="happening_head">Trade Not Happening?</div>
	<div class="happening_body">It seems like you guys can’t settle on a trade agreement. Would you like to cancel the trade or take another stab at it? </div>
	<input type="submit" value="Cancel" class="take_cancel">
	<input type="submit" value="Take Another Stab" class="take_another">
</div>