<div align="center" id="expired_content">
	<div align="center" id="expired_head">
		This page is expired!
	</div>
	<div id="expired_text">
		Not sure what to do? See <a href="<%= root_url%>">what’s happening today</a> on TradeYa.
	</div>
</div>
