<div align="center" class="steps">
	<img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/step3.png" />
</div>
<div class="profile_bck_white" style="text-align: center">
<img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/ajax-loader-wait.gif" />
<div class="waiting_message">asfbqwefgiquwaefhq wefwefhqwiuefhqbvwjh</div>
</div>