<div class="email_person">
	<div class="email_person_div">
		<div class="black_top_head"></div>
		<div class="email_person_content">
			<div class="tradeyalogo">
				<img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/logo.png">
			</div>
			<% if isMozilla? %>
			<div class="found_match" style="padding-top: 25px; padding-left: 30px;">
			<% else %>
			<div class="found_match">
			<% end %>
			Hey Mahim Bhardwaj, we think we found a match for you!</div>
			<div class="about_match">A little about your match:</div>
			<div class="match_section" style="margin-left: 30px;">
				<table width="100%">
					<tr valign="top">
						<td width="25%">
							<div class="email_usr_image user_image_border"><img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/reb_lrg.png" /></div>
						</td>
						<td width="75%" style="padding-left: 17px;">
							<div class="email_usr_name">Rebecca Rogers 2012</div>
							<div class="email_usr_city">
								in <span id = "email_usr_city">Venice Beach, CA</span>
							</div>
							<% if isMozilla? %>
							<div class="view_tradeya" style="margin-bottom: 3px;">
							<% else %>
							<div class="view_tradeya">
							<% end %>
								<img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/view_tradeya.png" onmouseover="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/view_tradeya_roll.png';" onmouseout="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/view_tradeya.png';" />
							</div>
							<div class="similarities">
								<div class="similar_heading">
									Your Similarities with<br />
									Rebecca Rogers 2012:
								</div>
								<% if isMozilla? %>
								<ul class="similar_cat" style="padding-top: 7px;">
								<% else %>
								<ul class="similar_cat">
								<% end %>
									<li>Comic Books</li>
									<li>Mountain Bikes</li>
									<li>Espresso Machines</li>
								</ul>
							</div>
							<div class="similarities_wants">
								<div class="similar_heading_wants">
									Rebecca Rogers 2012 wants:
								</div>
								<% if isMozilla? %>
								<ul class="similar_cat_wants" style="padding-top: 7px;">
								<% else %>
								<ul class="similar_cat_wants">
								<% end %>
									<li>Comic Books</li>
									<li>Mountain Bikes</li>
									<li>Espresso Machines</li>
								</ul>
							</div>
						</td>
					</tr>
				</table>
			</div>
			
			<div class="about_match">What Rebecca Rogers 2012 can trade you:</div>
			<div class="match_section" style="padding-top: 12px;padding-bottom: 26px; margin-left: 30px;">
				<table width="100%">
					<tr valign="top">
						<td width="25%">
							<div class="email_item_image user_image_border"><img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/comic.png" /></div>
						</td>
						<td width="75%" style="padding-left: 20px;">
							<div class="email_item_title">Marvel Comic Books - very rare! Mint Condition! #234512345 Box of 100+</div>
							<div class="email_item_desc">I have a box full of mint condition comic books ranging from x-calibre to Bruce Wayne Agent SHIELD and X-Men. They're all in excellent shape. Bagged and boarded.</div>
							<div class="timer" style="float: none; padding-top: 20px;">
								<img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/timer_small.png">
								<% if isMozilla? %>
								<div class="email_time" style="margin-top: -41px;">
								<% else %>
								<div class="email_time">
								<% end %>
									<span class="email_timeleft_text">Time Left to Offer</span><br>
									<span class="email_timeleft" id="timeleft_1">2 days 12:36:05</span>
								</div> 
							</div>
							<% if isMozilla? %>
							<div class="email_cat_desc" style="margin-top: 12px;">
							<% else %>
							<div class="email_cat_desc">
							<% end %>
								<a class="click" href="#" onclick="return false;">See Rebecca Rogers 2012’s  12 TradeYas ...</a>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<div class="like_match">
				<div class="like_match_div">
					<ul style="margin-left: 208px;">
						<li style="margin-right: 10px; margin-top: 4px;">How did we do on the match?</li>
						<li><img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/thumbs_up.png" /></li>
						<li><img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/thumbs_down.png" /></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="black_bottom_head">
			TradeYa.com © 2012, All Rights Reserved
		</div>
	</div>
</div>