<div id="pwd_header">
	<img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/pwd_asst.png" />
</div>
<div id="pwd_subheader">
	<img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/checkmail_selected.png" />
</div>
<div id="panel">
	<div id="password_asst">
		<p style="margin-bottom: 6px;"><b>Please check your email</b></p>
		If the e-mail address you entered is associated with a customer account<br /> in our records, you will receive an e-mail from us with instructions for<br /> resetting your password. If you don't receive this e-mail, please check<br /> your junk mail folder or email us for further assistance.<br /><br />
		<img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/message.png" />
	</div>
</div>
